@charset "UTF-8";
.l-auth{
    min-height: 100vh;
    width: 100%;
    background:url(../image/bg/bg_auth.jpg) no-repeat center;
    background-size:cover;
    &:before{
        mix-blend-mode:screen;
        background:linear-gradient(135deg, #EFD800, #EF6500);
        filter: blur(10px);
        height:100%; width:100%;
        top:50%;left:50%;transform:translate(-50%,-50%);
    }
    .l-container{
        width: calc(100% - 64px);
        height: calc(100vh - 64px);
        max-width: inherit;
        background:url(../image/bg/bg_auth.jpg) no-repeat center;
        background-size:cover;
        @include responsive (tablet){
            width: calc(100% - 32px);
            height: calc(100vh - 32px);
        }
        .p-auth{
            &__body{
                max-width:inherit;
                .c-box{
                    width: 100%;
                    max-width: 450px;
                    background-color: rgba(255, 255, 255, .5);
                    backdrop-filter: blur(10px);
                    margin:0 auto;
                    padding: 32px;
                    @include responsive (tablet){
                        padding:16px 8px;
                    }
                }
                form{
                    .p-list{
                        >li{
                            .c-input{
                                input{
                                    border-radius:16px;
                                    @include responsive (spWide){
                                        border-radius:14px;
                                    }
                                }
                            }
                        }
                    }
                }
                .l-7{
                    display:flex;
                    align-items:center;
                    flex-direction: column;
                    justify-content:center;
                    .c-logoArea{
                        width: 100%;
                        display:flex;
                        align-items:center;
                        flex-direction: column;
                        .c-logo{
                            width: 240px;
                            @include responsive (sp){
                                width: 160px;
                            }
                        }
                        .c-tagline{
                            max-width: 600px;
                            width: 100%;
                            margin:24px 0 16px;
                            @include responsive (spWide){
                                margin:8px 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}