@charset "UTF-8";
// <ul class="p-list__tab">
//   <li class="tab c-tab--a active"><p></p></li>
//   <li class="tab c-tab--b"></li>
//   <li class="tab c-tab--c"></li>
// </ul>
// <div class="p-content">
//   <div class="c-content c-tab--a show">Content-A</div>
//   <div class="c-content c-tab--b">Content-B</div>
//   <div class="c-content c-tab--c">Content-C</div>
// </div>
.p-list__tab{
  display: flex;
  justify-content: center;
  width: 100%;
  border:none;
  .tab{
    flex-grow: 1;
    padding:0 16px;
    text-align:center;
    cursor:pointer;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    @include responsive (tablet){
      padding: 0 8px;
    }
    @include responsive (spWide){
      padding: 0 4px;
    }
    p{
      border-bottom:solid 2px #000;
      @include responsive (spWide){
        font-size: 12px;
      }
    }
    &.active{
      p{
        border-bottom:solid 2px color(main);
      }
    }
  }
}