@use "../form/var" as *;
@use "../form/icon" as *;
@use "../form/func" as *;
@use "../form/parts" as *;
@use "../form/btn" as *;
@use "../form/card" as *;
@use "../form/image" as *;
@use "../form/divider" as *;
@use "../form/switch" as *;
@use "../form/tab" as *;

* {
  accent-color: var(--fc-accent);
}

/* ------------------------------
 *
 * label
 * ラベル
 *
 ------------------------------ */
.f-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  display: flex;
  margin: 0 0 0.5rem;
}

/* ------------------------------
 *
 * note / invalid / message
 * ノート / 無効アラート / メッセージ
 *
 ------------------------------ */
.f-note,
.f-invalid {
  color: var(--fc-note);
  font-size: 12px;
  line-height: 1.5;
  display: block;
  margin: 0.5em 0;
}
.f-invalid {
  color: var(--fc-invalid);
}

// メッセージ（説明文）
.f-message {
  color: var(--fc-text-light);
  font-size: calc(var(--fs-font) * 0.96);
  margin: 1em 0 1.75em;
}

/* ------------------------------
 *
 * form item
 * ラベルとフォームパーツの1まとまり
 *
 ------------------------------ */
.f-item {
  position: relative;
  margin: 0 0 1.5rem;
  /* ------------------------------
  *
  * ラベルとパーツを横並び
  *
  ------------------------------ */
  &--row {
    @extend .f-item;
    @media screen and (min-width: 480px) {
      display: grid;
      align-items: start;
      grid-template-columns:
        clamp(calc(8 * var(--fs-font)), 24%, calc(10 * var(--fs-font)))
        1fr;
      gap: 1rem;
      .f-label {
        font-size: 15px;
        padding-block: var(--fs-padding-block);
        font-weight: 500;
      }
    }
  }
  &--center {
    @extend .f-item;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  & > p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

// 横並び
.f-row {
  width: 100%;
  display: grid;
  gap: 0.5em;
  &--1-3 {
    @extend .f-row;
    grid-template-columns: 1fr 3fr;
  }
  &--2 {
    @extend .f-row;
    grid-template-columns: repeat(2, 1fr);
  }
  &--4 {
    @extend .f-row;
    grid-template-columns: repeat(4, 1fr);
  }
  &--2-3 {
    @extend .f-row;
    grid-template-columns: 2fr 3fr;
  }
  &--3-2 {
    @extend .f-row;
    grid-template-columns: 3fr 2fr;
  }
  &--auto-fix {
    @extend .f-row;
    grid-template-columns: 1fr auto;
  }
  &--flex-auto {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
// 縦並び（radio / checkbox）
.f-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

/* ------------------------------
 *
 * required / optional
 * 必須・任意
 *
 ------------------------------ */
.required,
.optional {
  &::after {
    content: "必須";
    color: var(--fc-invalid);
    font-size: 11px;
    line-height: 20px;
    display: inline-block;
    background-color: var(--fc-invalid-bg);
    padding: 0 4px;
    margin: 0 0 0 0.5rem;
  }
}
.optional {
  &::after {
    content: "任意";
    color: #666;
    background-color: #f7f8f8;
  }
}

/* ------------------------------
*
* size
* サイズ S/M/L
*
------------------------------ */
.f-size {
  &--s {
    @extend .f-size;
    max-width: 12rem;
  }
}
