@use "../form/var" as *;
@use "../form/icon" as *;

// スイッチ
@mixin fi-switch($formIcon, $formColor: #{$fc-border}) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="38" height="24" viewBox="x,y" fill="#{$formColor}">#{$formIcon}</svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: calc(var(--fs-text) * 1.583333333) var(--fs-text);
}

/* ------------------------------
 *
 * switch
 * スイッチ
 *
 ------------------------------ */
.f-switch {
  input[type="checkbox"] {
    & + label {
      @include fi-switch($fi-switch-off);
      display: inline-block;
      padding-left: 2.5em !important;
    }
    &:checked + label {
      @include fi-switch($fi-switch-on, $fc-accent);
    }
  }
}
