/* ------------------------------
 *
 * tab
 * タブ
 *
 ------------------------------ */
.f-tab {
  width: 100%;
  display: flex;
  & input[type="radio"] {
    & + label {
      text-align: center;
      border-color: var(--fc-border);
      background-image: none;
      padding: var(--fs-padding-inline) !important;
    }
    &:checked + label {
      color: var(--fc-accent);
      border-color: var(--fc-accent);
      background-color: var(--fc-accent-bg);
      z-index: 1;
    }
  }
  & label {
    flex: auto;
    width: auto;
    position: relative;
    & {
      border-radius: 0 !important;
    }
    &:first-of-type {
      border-top-left-radius: var(--fs-border-radius) !important;
      border-bottom-left-radius: var(--fs-border-radius) !important;
    }
    &:last-of-type {
      border-top-right-radius: var(--fs-border-radius) !important;
      border-bottom-right-radius: var(--fs-border-radius) !important;
    }
  }
  & > * + * {
    margin-left: -1px;
  }
  & + & {
    margin: 4px 0 0;
  }
}
