@charset "UTF-8";
.c-box{
    background-color: #fff;
    border-radius: 5px;
    position:relative;
    padding:20px;
    @include responsive (br) {
        padding: 20px 10px;
    }
    &__head{
        margin: 0 0 20px;
    }
    &__body{
    }
    .c-buttonArea__center{
        margin-top: 10px;
        .c-button__lineBlack{
            height: 30px;
        }
    }
    &__600{
        @extend .c-box;
        max-width: 600px;
    }
    &__transparent{
        background-color: transparent;
        padding: 0;
    }
    +.c-box{
        margin-top: 8px !important;
    }
}
.p-scroll{
    overflow: auto;
    width: 100%;
    padding: 0 8px 8px;
    @include responsive (tablet){
    }
    &__yaxis500{
        @extend .p-scroll;
        height: 500px;
        @include responsive (tablet){
            height: inherit;
        }
    }
    &__yaxis470{
        @extend .p-scroll;
        height: 470px;
        @include responsive (tablet){
            height: inherit;
        }
    }
    &__yaxis450{
        @extend .p-scroll;
        height: 450px;
        @include responsive (tablet){
            height: inherit;
        }
    }
    &__yaxis400{
        @extend .p-scroll;
        height: 400px;
        @include responsive (tablet){
            height: inherit;
        }
    }
    &__inner{
        padding:4px;
        &--1100{
            padding: 4px;
            min-width: 1100px;
        }
        &--1000{
            padding: 4px;
            min-width: 1000px;
        }
        &--900{
            padding: 4px;
            min-width: 900px;
        }
        &--850{
            padding: 4px;
            min-width: 850px;
        }
        &--700{
            padding: 4px;
            min-width: 700px;
        }
        @include responsive (tablet){
            min-width: inherit !important;
        }
        .icon_next{
          background-image: url(../image/icon/icon_arrow.svg);
          border-radius: 50%;
          width:20px;
          display: block;
          border:map-get($colors, main) 1px solid;
        }
    }
}