@charset "UTF-8";
.p-form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width:100%;
  &--item{
    &__row{
      display:flex;
      flex-wrap:wrap;
    }
  }

  .l-frame{
    max-width:700px;
    .p-list__row{
      >li{
        padding:0 0 32px;
        +li{
        margin-top:0;
        padding: 32px 0;
        }
        .head{
          min-width: 160px;
          margin:0;
        }
        .body{
          flex: 1 1 auto;
        }
        @include responsive (tablet){
          padding:0 0 16px;
          flex-direction: column;
          align-items: flex-start;
          +li{
            padding: 16px 0;
          }
          .head{
            margin:0 0 8px;
          }
        }
      }
    }
    .p-info{
      margin-bottom:24px;
      .l{
        margin:0;
        >div{
          padding:8px;
          align-items:center;
        }
      }
      &__head{
        display:flex; flex-wrap:wrap;
        align-items:center;
        justify-content:center;
        margin-bottom:16px;
        .c-circle {
          height:160px; width:160px;
          border-radius:50%;
          display:flex;
          flex-direction:column;
          align-items:center;
          .c-image__circle,.c-image__square{
            width:80px;
            margin: 16px auto 4px;
          }
          .c-image__square{
            background-size:contain;
          }
        }
        .c-icon--cross{
          margin:0 8px;
        }
      }
      .message{
        white-space:pre-line;        
      }
      &__body{
        .p-list__tag{
          display:flex; flex-wrap:wrap;
          align-items:center;
          margin:-2px;
          >li{
            padding:2px;
          }
        }
      }
      .c-border--top{
        border-top:color(accent) 1px solid;
        margin-top:24px;
      }
      &__foot{
        margin-top:24px;
        .p-list{
          margin:0;
          >li{
            padding:8px 16px;
            &.user{.c-box__body{background-color:#fff;}}
            &.company{.c-box__body{background-color:#ffe4cf;}}
            .c-box{
              &__head{
                margin-bottom:8px;
              }
              &__body{
                padding:16px;
                border-radius:8px;
              }
            }
          }
        }
      }
    }
  }
}