@use "../foundation/responsive" as *;

// ヘッド
.t-head {
  color: var(--c-text-weak);
  font-size: 12px;
  line-height: 1;
  padding: 0 0 8px;
  display: flex;
  &__count {
    transform: translateY(-8px);
  }
}

// テーブル
.t-table {
  overflow: auto;
  position: relative;
  max-height: 50vh;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #000;
  }

  // テーブル
  table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    thead,
    tbody,
    tr {
      display: contents;
    }
    th {
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      background: #fff;
      border-bottom: 1px solid var(--c-border);
      position: sticky;
      top: 0;
      padding: 4px 8px;
      @include responsive(sm) {
        padding: 8px 16px;
      }
    }
    td {
      font-size: 14px;
      line-height: 22px;
      padding: 8px;
      background-color: #fff;
      border-bottom: 1px solid var(--c-border-light);
      @include responsive(sm) {
        padding: 16px;
      }
    }
    img {
      display: block;
      width: 80px;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      &.lg {
        width: 100px;
      }
    }
    p {
      width: 400px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      &.line2 {
        -webkit-line-clamp: 2;
      }
    }
    a {
      color: var(--c-primary);
      font-weight: 600;
      text-decoration: underline;
    }
    input[type="checkbox"] + label {
      min-height: 22px;
      width: 22px;
      height: 22px;
      padding: 0 !important;
      background-position: center center;
    }
  }
}

// フット
.t-foot {
  padding: 24px 0 0;
}

// ページャー
.t-pager {
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 0;
  &_btn {
    font-size: 15px;
    line-height: 1;
    display: grid;
    place-items: center;
    border: 1px solid #000;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    &.is-active {
      pointer-events: none;
      border-color: #e4e4e4;
      background-color: #e4e4e4;
    }
  }
}
