@charset "UTF-8";
/* ! ==================================================

- ボディ

================================================== */
.l-body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-width: 0;
  position: relative;
  min-width: 350px;
  background-color:color(base);
}

