@charset "UTF-8";
.l-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  position:fixed;top:0;left:0;
  height: 100%;
  width: 180px;
  background:linear-gradient(180deg, #165500, #55AD36);
  @include responsive (br){
    position: relative;
    width: 100%;
    height: auto;
  }
  &__head{
    height: 80px;
    padding: 16px;
    @include responsive (br){
      height: 50px;
      padding: 8px;
      .c-logo{
        width: 70px;
      }
    }
  }
  &__body{
    padding: 24px 0 0;
    width: 100%;
    height: calc(100% - 80px);
    nav{
      .p-list__nav{
        @include responsive (br){
          display: flex; flex-wrap:wrap;
          align-items: center;
          justify-content: center;
        }
        @include responsive (spWide){
          flex-direction: column;
          height: 100%;
        }
        >li{
          position:relative;
          width: 100%;
          &:before{
            content: none;
            position:absolute;
            top:8px;
            left:8px;
            font-size:20px;
            color: #fff;
            font-weight:100;
            display: block;
            opacity: .7;
            @include responsive (br){
              top:-20px;
              font-size: 16px;
              opacity: .75;
            }
          }
          @include responsive (br){
            width: calc(100% / 8);
            height: auto;
          }
          @include responsive (spWide){
            width: 100%;
          }
          a{
            padding:16px 8px 16px 16px;
            display: flex;
            align-items: center;
            color: #fff;
            line-height:1;
            transition: all 0.2s ease;
            &:hover{
              color:color(main);
              background-color: color(light) !important;
            }
            @include responsive (br){
              padding: 8px 4px;
              flex-direction: column;
            }
            @include responsive (spWide){
              padding: 16px 56px;
            }
          }
          .tag{
            background-size: cover !important;
            width:20px;
            margin-right: 8px;
            &:before{
              content: '';
              display: block;
              padding-top: 100%;
              width: 100%;
            }
            @include responsive (br){
              width: 16px;
              margin:0 0 4px;
            }
          }
          &.current{
            a{
              font-weight: 400 !important;
              color: color(main) !important;
              background-color: color(base) !important;
            }
          }
          &.dashboard{
            .tag{
              background: url(../image/icon/sidebar/ico_dashboard_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_dashboard.svg) no-repeat center;
              }
            }
          }
          &.pickup{
            padding-top:40px;
            a{ background-color:rgba(0,0,0,.2);}
            &:before{
              content: '作業者';
            }
            @include responsive (br){
              padding: 0;
            }
            .tag{
              background: url(../image/icon/sidebar/ico_box_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_box.svg) no-repeat center;
              }
            }
          }
          &.checkin{
            a{ background-color:rgba(0,0,0,.2);}
            .tag{
              background: url(../image/icon/sidebar/ico_checkin_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_checkin.svg) no-repeat center;
              }
            }
          }
          &.list_order{
            padding-top:40px;
            @include responsive (br){
              padding: 0;
            }
            a{ background-color:rgba(0,0,0,.2);}
            &:before{
              content: '管理者';
            }
            @include responsive (br){
              padding: 0;
            }
            .tag{
              background: url(../image/icon/sidebar/ico_list_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_list.svg) no-repeat center;
              }
            }
          }
          &.transport{
            a{ background-color:rgba(0,0,0,.2);}
            .tag{
              background: url(../image/icon/sidebar/ico_item_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_item.svg) no-repeat center;
              }
            }
          }
          &.document{
            a{ background-color:rgba(0,0,0,.2);}
            .tag{
              background: url(../image/icon/sidebar/ico_doc_white.svg) no-repeat center;
            }
            &.current, a:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_doc.svg) no-repeat center;
              }
            }
          }
          &.partner{
            a{ background-color:rgba(0,0,0,.2);}
            .tag{
              background: url(../image/icon/sidebar/ico_partner_white.svg) no-repeat center;
            }
            &.current,&:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_partner.svg) no-repeat center;
              }
            }
          }
          &.account{
            a{ background-color:rgba(0,0,0,.2);}
            .tag{
              background: url(../image/icon/sidebar/ico_account_white.svg) no-repeat center;
            }
            &.current,&:hover{
              .tag{
                background: url(../image/icon/sidebar/ico_account.svg) no-repeat center;
              }
            }
          }
        }
      }
      @include responsive (spWide){
        display: none;
        height:100%; width:100%;
        background-color: rgba(#165500,.95);
        z-index: 99;
        transition: all 0.2s ease;
        margin-left: auto;
        position: fixed;
        top: 0;
        left: 0;
        .p-list__wrap{
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          >li{
            padding:16px;
          }
        }
      }
      @media screen and (min-width:600px) {
        display: block !important;
      }
    }
  }
  // 通常のハンバーガーメニュー
  .nav_toggle{
    background-color: rgba(0,0,0,.3);
    height:40px; 
    width:40px;
    border-radius: 4px;
    display: none;
    border: #fff 1px solid;
    position:relative;
    transition: all 0.2s ease;
    z-index: 100;
    padding: 8px;
    position:fixed;
    top:8px;
    right:8px;
    cursor: pointer;
    span{
      height:1px; width:30px;
      background-color: #fff;
      display: block;
      position:absolute;
      top:15px;
      left:50%;
      transition: all 0.2s ease;
      transform:translate(-50%,0);
      +span{
        top:22px;
      }
      &.close{
        top:50%;
        transform:translate(-50%,-50%) rotate(45deg);
        +span{
          transform:translate(-50%,-50%) rotate(-45deg);
        }
      }
    }
    @include responsive (spWide){
      display: block;
      &:hover{
        background-color: #eee;
        span{
          width: 20px;
        }
      }
    }
  }
  &__foot{
    height: 80px;
    padding: 16px;
    @include responsive (br){
      position:absolute;
      top:8px;
      left:8px;
      padding: 0;
    }
  }
}
