/* ! --------------------------------------------------
- イメージ
-------------------------------------------------- */
.c-image{
	background-image: url(../image/icon/icon_noimage_white.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	border-radius:2px;
	&:before{
		content:'';
		display:block;
		width: 100%;
		padding-top:75%;
	}
	&__wide{
		@extend .c-image;
		&:before{
			padding-top:56.18%;
		}
	}
	&__vertical{
		@extend .c-image;
		&:before{
			padding-top:125%;
		}
	}
	&__square{
    @extend .c-image;
		&:before{
			padding-top: 100%;
		}
	}
	&__circle{
    @extend .c-image;
		border-radius: 50%;
		min-width: 30px;
		&:before{
			padding-top: 100%;
		}
	}
	&__logo{
    @extend .c-image;
		background-size:contain;
	}
}
.on{display: block !important;}
.off{display: none !important;}