@use "../../foundation/responsive" as *;
@use "../../form/var" as *;
@use "../../form/icon" as *;
@use "../../form/func" as *;

.p-main {
  display: flex;
  flex-direction: column;
  flex: auto;
  &__head {
    flex: none;
    border-bottom: 1px solid var(--c-border-light);
    padding: 1rem;
    position: relative;
    z-index: 1;
    @include responsive(lg) {
      padding: 1rem 1rem 1rem 1.5rem;
    }
    &__main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      &__txt {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include responsive(lg) {
          gap: 1.5rem;
        }
        // ハンバーガー
        &__burger {
          width: 28px;
          height: 28px;
          display: block;
          background-color: var(--c-bg-light);
          border-radius: 4px;
          @include fi-center($fi-burger);
          background-size: 16px 16px;
          cursor: pointer;
          @include responsive(lg) {
            display: none;
          }
        }
        // 戻るボタン
        &__btn {
          display: block;
          width: 28px;
          height: 28px;
          background-color: var(--c-bg-light);
          border-radius: 4px;
          @include fi-center($fi-chevron-left);
          background-size: 20px 20px;
        }
        &__ttl {
          font-size: 16px;
          line-height: 28px;
          font-weight: 600;
          @include responsive(lg) {
            font-size: 20px;
          }
        }
      }
      &__act {
        margin: 0 0 0 auto;
      }
    }
    &__form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem 1.5rem;
      margin: 1rem 0 0;
    }
    &__search {
      input {
        font-size: 14px;
        line-height: 22px;
        max-width: 200px;
        border-color: var(--c-primary-bg);
        background-color: var(--c-primary-bg);
        @include fi-left($fi-search, $fc-border);
        background-position: left 10px center;
        background-size: 18px 18px;
        padding-left: 36px !important;
      }
    }

    // フィルター
    &__filter {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1.5rem;
      &__item {
        position: relative;
      }
      &__btn {
        dl {
          display: flex;
          align-items: center;
        }
        dt {
          font-size: 12px;
          line-height: 20px;
          &::after {
            content: "：";
          }
        }
        dd {
          color: var(--c-primary);
          font-size: 13px;
          font-weight: 600;
          line-height: 20px;
          @include fi-right($fi-select);
          background-position: right center;
          padding-right: 24px !important;
        }
      }
      &__content {
        padding: 4px;
        background-color: #fff;
        min-width: max-content;
        border: 1px solid var(--c-border);
        border-radius: 6px;
        box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.12);
        position: absolute;
        inset: calc(100% + 4px) -4px auto auto;
        opacity: 0;
        pointer-events: none;
        .is-active + & {
          opacity: 1;
          pointer-events: all;
        }
      }
      &__main {
      }
      &__action {
        margin: 8px 0 0;
      }
    }
  }
  &__body {
    flex: auto;
    padding: 16px;
    @include responsive(sm) {
      padding: 24px;
    }
  }

  // アカウント
  &__account {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      span {
        display: grid;
        place-items: center;
        width: 28px;
        height: 28px;
        background-color: var(--c-primary);
        border-radius: 50%;
        svg {
          display: block;
          width: 20px;
          height: 20px;
          fill: #fff;
        }
      }
    }
    &__name {
      font-size: 13px;
      line-height: 18px;
      display: none;
      @include responsive(lg) {
        display: block;
      }
    }
    &__act {
      position: relative;
      display: none;
      @include responsive(lg) {
        display: block;
      }
      &__btn {
        width: 28px;
        height: 28px;
        display: block;
        background-color: var(--c-bg-light);
        border-radius: 4px;
        @include fi-center($fi-dot);
        background-size: 16px 16px;
        &:hover {
          background-color: var(--c-bg);
        }
      }
      &__menu {
        padding: 4px;
        background-color: #fff;
        min-width: max-content;
        border: 1px solid var(--c-border);
        border-radius: 6px;
        box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.12);
        position: absolute;
        inset: calc(100% + 4px) -4px auto auto;
        opacity: 0;
        pointer-events: none;
        .is-active + & {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  // レイアウト
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    @include responsive(md) {
      flex-wrap: nowrap;
    }
    @include responsive(xl) {
      gap: 40px 80px;
    }
    &--lg {
      @extend .p-main__wrapper;
      gap: 40px;
      max-width: none;
    }
    // &__sidebar {
    //   flex: 0 0 12rem;
    //   border-right: 1px solid var(--c-border-light);
    // }
  }

  // サイドバー
  &__sidebar {
    flex: 0 0 100%;
    width: 100%;
    @include responsive(md) {
      flex: 0 0 280px;
      width: 280px;
    }
    @include responsive(xl) {
      flex: 0 0 320px;
      width: 320px;
    }
    &--sm {
      @extend .p-main__sidebar;
      flex: 0 0 184px;
      padding-right: 1rem;
      border-right: 1px solid var(--c-border-light);
    }
    &__btn {
      font-size: 13px;
      line-height: 18px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 0 0.25rem;
      padding: 8px 12px;
      border-radius: 4px;
      &:hover {
        background-color: var(--c-bg);
      }
      &.is-active {
        color: var(--c-primary);
        background-color: var(--c-primary-bg);
        svg {
          fill: var(--c-primary);
        }
      }
      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
    &__ttl {
      font-size: 12px;
      font-weight: 600;
      margin: 0 0 1rem;
    }
    &__divider {
      display: block;
      width: 100%;
      height: 1px;
      border-top: 1px solid var(--c-border-light);
      margin: 1.5rem 0;
    }
  }

  // コンテナ {
  &__container {
    flex: auto;
    margin: 0 auto;
    &--lg {
      @extend .p-main__container;
      max-width: 1440px;
    }
    &--sm {
      @extend .p-main__container;
      max-width: 560px;
    }
  }
}
