@use "../../foundation/responsive" as *;

.p-profile {
  display: flex;
  align-items: center;
  gap: 24px;
  img {
    display: block;
    width: 88px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 50%;
    @include responsive(xl) {
      width: 120px;
    }
  }
}
