@use "../../foundation/responsive" as *;
.l-auth{
    display: flex;
    align-items:center;
    justify-content:center;
    z-index: 0;
    position:relative;
    &:before{
        content:'';
        display:block;
        background:url(../image/logo/logo_white.svg) no-repeat center;
        background-size:cover;
        position:absolute;
        top:0;
        right:0;
        height:400px; width:800px;
        @include responsive (note){
            height:300px; width:600px;
        }
        @include responsive (tabletWide){
            height:200px; width:400px;
        }
        @include responsive (spWide){
            height:100px; width:200px;
        }
    }
    .l-container{
        display: flex;
        align-items: center;
        z-index: 1;
        .p-auth{
            width: 100%;
            &__body{
                margin:0 auto;
                max-width:500px;
                .c-box{
                    padding:2.5rem;
                    @include responsive (tablet){
                        padding:1rem .5rem;
                    }
                    &__head{
                        display:flex;
                        align-items:center;
                        flex-direction: column;
                        title{
                            font-size: 2.5rem;
                            font-style: italic;
                            text-align: center;
                        }
                        .c-text__lv5{
                            text-align: center;
                        }
                    }
                }
                form{
                    .p-list{
                        >li{
                            .c-input{
                                input{
                                    height: 60px;
                                    padding: 0 1rem;
                                    @include responsive (spWide){
                                        height: 45px;
                                        padding: 0 12px;
                                    }
                                }
                            }
                            .c-buttonArea__center{
                                margin:0;
                                *{
                                    margin:0;
                                    +*{
                                        margin-top:1.5rem;
                                        @include responsive (tablet){
                                            margin-top:1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__foot{
                position:absolute;
                bottom:.5rem;
                right: 1rem;
                @include responsive (tablet){
                    bottom:1.5rem;
                    right:inherit;
                    left:50%;
                    transform: translateX(-50%);
                    width: 100%;
                }
                .c-copyright{
                    color: #ccc;
                    font-size: 11px;
                    text-align: center;
                    line-height: 1.2em;
                    @include responsive (tablet){
                        text-align: center;
                    }
                }
            }
        }
    }
}