@use "../../foundation/responsive" as *;
@use "../../foundation/var" as *;
/* ! ==================================================
- リスト
================================================== */
%p-list,.p-list {
  gap: 1rem;
  @include responsive (tablet){
    gap: 1.5rem;
  }
  &__row{
    @extend %p-list;
    >li{
      gap: .5rem;
      @include responsive (tablet){
        gap: 1rem;
        display:flex;
        align-items:center;
        .label{
          min-width:100px;
        }
      }
    }
  }
  &__wrap{
    @extend %p-list;
    display: flex;
    flex-wrap:wrap;
    &--2{
      @extend %p-list;
      display: flex;
      flex-wrap:wrap;
      >li{
        @include responsive (spWide){
          width: 50%;
        }
      }
    }
    &--3{
      @extend %p-list;
      display: flex;
      flex-wrap:wrap;
      >li{
        @include responsive (spWide){
          width: 50%;
        }
        @include responsive (tablet){
          width: 33.3333%;
        }
      }
    }
    &--4{
      @extend %p-list;
      display: flex;
      flex-wrap:wrap;
      >li{
        @include responsive (spWide){
          width: 50%;
        }
        @include responsive (tablet){
          width: 33.3333%;
        }
        @include responsive (tabletWide){
          width: 25%;
        }
      }
    }
    &--5{
      @extend %p-list;
      display: flex;
      flex-wrap:wrap;
      >li{
        @include responsive (spWide){
          width: 50%;
        }
        @include responsive (tablet){
          width: 33.3333%;
        }
        @include responsive (tabletWide){
          width: 25%;
        }
        @include responsive (note){
          width: 20%;
        }
      }
    }
    &--6{
      @extend %p-list;
      display: flex;
      flex-wrap:wrap;
      >li{
        @include responsive (spWide){
          width: 50%;
        }
        @include responsive (tablet){
          width: 33.3333%;
        }
        @include responsive (tabletWide){
          width: 25%;
        }
        @include responsive (note){
          width: 20%;
        }
        @include responsive (pcWide){
          width: 16.6666%;
        }
      }
    }
  }
  &__border {
    >li{
      padding-bottom: 1rem;
      border-bottom:1px solid color(gray_light);
      @include responsive (tablet){
        padding-bottom: 1.5rem;
      }
      &:last-child{
        border: none;
      }
    }
  }
}
