@charset "UTF-8";
.p-section{
  &__head{
    margin-bottom: 16px;
    @include responsive (tablet){
      margin-bottom: 8px;
    }
  }
  &__body{
    .p-list{
      &__wrap{
        margin:-4px;
        >li{
          padding: 4px;
        }
      }
    }
  }
  &__foot{
    margin-top: 16px;
    @include responsive (tablet){
      margin-top: 8px;
    }
    .c-text{
      margin-top: 8px;
    }
  }
  +.p-section{
    padding-top: 24px;
    @include responsive (tablet){
      padding-top: 16px;
    }
  }
}