@charset "UTF-8";
/* ! --------------------------------------------------
- インプット
-------------------------------------------------- */
.c-input {
  display:inline-flex;
  position: relative;
  .c-input {
    +* {
      margin-left: 4px;
    }
  }
  $c-input: #{&};
  //共通要素
  %common {
    border-radius: 16px !important;
  }
  // プレイスホルダー
  ::-webkit-input-placeholder { color: color(third);}
  :-ms-input-placeholder { color: color(third);}
  ::-moz-placeholder { color: color(third);}
  //numberのスピンボタン非表示
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance:textfield;
  }
  &--select{
    select {
      @extend %common;
    }
  }
}
input,textarea,select{
  border-radius: 16px !important;
}