@charset "UTF-8";
%l-12{
  display:flex;
  flex-wrap:wrap;width:100%;
  @include responsive (tablet){
    flex-direction: column-reverse;
    margin:0;
  }
}
.l-12{
  &--gap4{
    @extend %l-12;
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:2px;}
  }
  &--gap8{
    @extend %l-12;
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:4px;}
  }
  &--gap16{
    @extend %l-12;
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:8px;}
  }
  &--gap24{
    @extend %l-12;
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:12px;}
  }
  &--gap32{
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:16px;}
  }
  &--gap40{
    @extend %l-12;
    @include responsive (tablet){
      margin:0;
    }
    >*{padding:20px;}
  }
  >div{width:auto;flex:1 1 auto;
    $i: 1;
    @while $i <= 12 {
      &.l-#{$i} {
        width: (8.3333% * $i);
        flex:0 0 (8.3333% * $i);
        @include responsive (tablet){
          width:100%;
          flex: auto;
        }
      }
      $i: $i + 1;
    }
  }
}
.c-masonry{
  columns:6;
  >*{
    display:block;
    margin-bottom: 16px;
  }
  @include responsive (pcWide){columns:5;}
  @include responsive (pc){columns:4;}
  @include responsive (tablet){columns:3;}
  @include responsive (spWide){columns:2;}
}