@charset "UTF-8";
/* ! ==================================================
- ボディ
================================================== */
.l-body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-width: 0;
  position: relative;
  background-color: #EAFAFF;
  }

