@charset "UTF-8";
/* ! --------------------------------------------------
- フッターレイアウト
-------------------------------------------------- */
.l-footer {
  padding:0 24px 16px;
  margin-top:80px;
  @include responsive (tabletWide){
    margin-top: 60px;
    padding: 0 16px 8px;
  }
  @include responsive (spWide){
    margin-top: 40px;
  }
  .p-footer{
    width:100%;
    border-radius:20px;
    background-color: #fff;
    padding: 16px 24px 8px;
    @include responsive (tablet){
      padding: 16px;
    }
    &__head{
      display:flex; flex-wrap:wrap;
      margin-bottom: 8px;
      align-items:center;
      .c-logo{
        display:flex; flex-wrap:wrap;
        align-items:center;
        width: 250px;
        .c-text__min{
          margin-left: 8px;
        }
      }
      @include responsive (tablet){
        .c-right{
          margin:24px 0 0;
          .p-list__wrap{
            margin: -8px;
            >li a{
              padding: 0 8px;
              font-size: 12px;
            }
          }
        }
      }
      @include responsive (sp){
        .c-right{display:none;}
      }
    }
    &__body{
      .c-menu{
        margin:0;
        >li{
          padding: 0;
          @include responsive (spWide){
            padding: 8px;
          }
          +li{
            border-left: 1px solid color(main);
            @include responsive (spWide){
              border: none;
            }
          }
          a{
            padding: 4px 16px;
            font-weight: 400;
            &:hover{
              color:color(main);
            }
            @include responsive (spWide){
              padding:4px 0;
              font-size: 12px;
              position:relative;
              &:before{
                content: '';
                height:2px; width:20px;
                position:absolute;bottom:0;left:50%;transform:translate(-50%,0);
                display:block;
                background-color: color(main);
                transition: all 0.2s ease;
              }
              &:hover:before{
                width: 30px;
              }
            }
          }
          &:nth-of-type(1){
            a{padding-left: 0;}
          }
          &:last-child{
            a{padding-right: 0;}
          }
        }
      }
    }
    &__foot{margin-top:16px;
    .c-copyright{
      font-size: 11px;
      text-align: right;
      color: #888;
    }
  }
  }
}