@charset "UTF-8";
.l-home{
    .slick-dots{
        display: flex;
        align-items: center;
    }
    .slick-arrow{
        bottom: 8px;
        right: 50px;
        top: inherit;
        left: inherit;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        transform: inherit;
        transform: rotate(-90deg);
        transition: all 0.2s ease;
        &:before{
            content: '';
            background: url(/image/icon/icon_arrow_white.svg) no-repeat center;
            background-size: cover;
            display: block;
            height:20px; width:20px;
            border-bottom:none;
            border-left:none;
        }
        &:hover{
            opacity: .3;
        }
        &.slick-prev{
            transform: rotate(90deg);
        }
        &.slick-next{
            right:16px;
        }
    }
}
