@charset "UTF-8";
/* ! ====================================================================================================
　■ フラッシュ
==================================================================================================== */
.p-flash {
    position: fixed;
    top: 0;
    left: 50%;
    transform:translate(-50%,0);
    pointer-events: none;
    width: 100%;
    z-index: 100;
    &.on{
      z-index: 100 !important;
    }
  }
  /* ! ==================================================
  　リスト
  ================================================== */
  .p-list__flash {
    width: auto;
    > li {
      opacity: 0;
      pointer-events: all;
      + li {
        margin: 4px 0 0;
      }
      article {
        display: flex;
        align-items: center;
        justify-content: center;
        background: color(main);
        box-shadow: 0px 8px 20px rgba(59, 25, 0,.2);
        position: relative;
        width: 100%;
        // border:2px solid #fff;
        padding:15px 30px;
        p {
          font-weight: 700;
          font-size: 20px;
          line-height: 1.45833em;
          letter-spacing: .13em;
          overflow: hidden;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @include responsive (spWide){
            font-size: 16px;
          }
        }
      }
        /* 個別 */
      .flash_info article{ border-color: #9dabc3;}
      // .flash_info article:before { background: url(../image/icon/flash/ico_flash_info.svg);}
      .flash_success article{ border-color: #9dabc3;}
      // .flash_success article:before { background: url(../image/icon/flash/ico_flash_success.svg);}
      .flash_warning article{ border-color: #F29938;}
      // .flash_warning article:before { background: url(../image/icon/flash/ico_flash_warning.svg);}
      .flash_error article{ border-color: #c30011;}
      // .flash_error article:before { background: url(../image/icon/flash/ico_flash_error.svg);}
    }
      /* ! キーフレーム ============================== */
    > li{
      animation: flash 3s ease forwards;
      &:nth-of-type(2){ animation-delay: .1s;}
      &:nth-of-type(3){ animation-delay: .2s;}
      &:nth-of-type(4){ animation-delay: .3s;}
      &:nth-of-type(5){ animation-delay: .4s;}
      &:nth-of-type(6){ animation-delay: .5s;}
      &:nth-of-type(7){ animation-delay: .6s;}
    }
    /* クリックして消す場合。 */
    > .flash_remove {
      animation: flash_remove .5s ease forwards;
      pointer-events: none;
      cursor: default;
    }
  }
  
  
  @keyframes flash {
    0% {
      opacity: 0;
      transform: translateY(100px); 
    }
    30% {
      opacity: 1;
      transform: translate(0); 
    }
    89% {
      opacity: 1;
      transform: translate(0); 
    }
    90% {
      height: 60px;
    }
    100% {
      transform: translateY(-100px); 
      opacity:0;
      height: 0; 
    }
  }
  
  
  @keyframes flash_fixed {
    0% {
      opacity: 0;
      transform: translateY(100px); 
    }
    100% {
      opacity: 1;
      transform: translateY(-100px); 
    }
  }
  
  @keyframes flash_remove {
    0% {
      transform: translateY(0100px); 
      opacity: 1;
    }
    90% {
      height: 60px;
    }
    100% {
      transform: translateY(100px); 
      opacity: 0;
      height: 0;
    }
  }
  
  