@charset "UTF-8";
.l-home{
    .p-frame{
        &__body{
            .p-alert{
                margin-bottom:-64px;
                @include responsive (pc){
                    margin-bottom:0;
                }
                .c-border{
                    border:2px solid color(main);
                    p{
                        +p{
                            margin-left:8px;
                        }
                    }
                }
            }
        }
    }
}