@charset "UTF-8";
.c-icon{
    &__search{
        background:url(../image/icon/icon_search.svg) no-repeat center;
        background-size:cover;
    }
}
.c-right{
    form{
        .c-input{
            >*{
                margin-left: 8px;
            }
        }
    }
}
// エントリーカードの一覧
.l-job{
    .p-list__split5{
        >li{
            @include responsive (pc){flex: 0 0 25%;width: 25%;}
            @include responsive (tabletWide){flex: 0 0 33.333%;width: 33.333%;}
            @include responsive (tablet){flex: 0 0 50%;width: 50%;}
        }
    }
}
// 求職者検索のリストスタイル
.p-search{
    margin-bottom: 24px;
    &__head{
        .p-form{
            input,select{
                height: 40px;
                min-width: 80px;
            }
            padding: 24px;
            &__head{
                ul{
                    li{
                        display:flex; flex-wrap:wrap;
                        align-items:center;
                        .head{margin:0 8px 0 0;}
                    }
                }
            }
        }
    }
    &__body{
        margin-top: 16px;
        .l-12{
            margin:0;
            @include responsive (tablet){
                flex-direction: row;
            }
            >*{
                display:flex;
                flex-direction: column;
                justify-content:center;
                &:first-child{padding:8px 4px 4px 8px;}
                &:last-child{padding-right:8px;}
            }
            $i: 1;
            @while $i <= 12 {
            .l-#{$i} {
                @include responsive (tablet){
                    width: (8.3333% * $i);
                    margin-top: 0;
                }
            }
            $i: $i + 1;
            }
        }
        .bg-fff{
           border-radius:8px;
        }
        .c-middle{
            padding: 4px 8px;
        }
        .c-lower{
            border-radius: 0 0 8px 8px;
            background-color: color(pale);
            padding: 4px 8px;
            display:flex;
            >*+*{
                margin-left: 8px;
            }
            .c-image__square{
                max-width: 56px;
            }
            .c-text__main{
                text-align: center;
                padding: 0 4px;
                border-radius:3px;
            }
            .c-text{
                min-width: 160px;
                .p-list__wrap{
                    margin-top:0;
                    justify-content:center;
                    >li{
                        .c-checkbox{
                            background: none;
                            padding: 0;
                            border-radius:0;
                            input{
                                +label{
                                    background-color:#CECECE;
                                    border-radius:50%;
                                    padding: 0;
                                    span{
                                        &:after{
                                            display:none;
                                            position:absolute;top:-20px;left:50%;transform:translate(-50%,0);
                                            color: #fff;
                                            background-color: color(main);
                                            font-size: 11px;
                                            font-weight: 500;
                                            text-align: center;
                                            width: 60px;
                                        }
                                        &:hover{
                                            &:after{
                                                display:block;
                                            }
                                        }
                                    }
                                    &.favorite{
                                        span:after{content: '気になる！';}
                                    }
                                    &.check{
                                        span:after{content: 'チェック！';}
                                    }
                                }
                                &:checked{
                                    +label{
                                        background-color: color(accent);
                                    }
                                }
                            }
                        }
                        .c-icon--mail__white{
                            background-color: color(accent);
                            border-radius:50%;position:relative;
                            &:after{content: 'スカウト！';
                                display:none;
                                position:absolute;top:-20px;left:50%;transform:translate(-50%,0);
                                color: #fff;
                                background-color: color(main);
                                font-size: 11px;
                                font-weight: 500;
                                text-align: center;
                                width: 60px;
                            }
                            &:hover{
                                &:after{
                                    display:block;
                                }
                            }
                        }
                        button{
                            border: transparent;
                            background-color: color(accent);
                            border-radius:50%;
                            height: 24px;
                            width: 24px;
                            padding: 0;
                            cursor: pointer;
                            position:relative;
                            &:before{
                                content: '書類をDL';
                                display:none;
                                position:absolute;top:-20px;left:50%;transform:translate(-50%,0);
                                color: #fff;
                                background-color: color(main);
                                font-size: 11px;
                                font-weight: 500;
                                text-align: center;
                                width: 60px;
                            }
                            &:hover{
                                &:before{
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
            .p-list__wrap{
                margin:-4px;
                >li{
                    padding: 4px;
                }
            }
        }
    }
    .p-list__wrap{
        margin:-4px;
        >li{
            padding: 4px;
        }
    }
}