@charset "UTF-8";
.c-image{
	background-image: url(../image/icon/icon_noimage_white.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	border-radius: 2px;
	&:before{
		content:'';
		display:block;
		width: 100%;
		padding-top: 75%;
	}
	&__wide{
    @extend .c-image;
		&:before{
			content:'';
			display:block;
			width: 100%;
			padding-top:  55%;
		}
	}
	&__square{
    @extend .c-image;
		&:before{
			content:'';
			display:block;
			width: 100%;
			padding-top: 100%;
		}
	}
	&__circle{
    @extend .c-image;
		border-radius: 50%;
		&:before{
			content:'';
			display:block;
			width: 100%;
			padding-top: 100%;
		}
	}
}
.c-icon{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	&:before{
		content:''; display:block; width: 100%; padding-top: 100%;
	}
	&__w12{width: 12px;}
	&__w16{width: 16px;}
	&__w20{width: 20px;}
	&__w24{width: 24px;}
	&__w32{width: 32px;}
	&__w40{width: 40px;}
	&__w48{width: 48px;}
	&__w56{width: 56px;}
	&__w64{width: 64px;}
	&__w72{width: 72px;}
	&__back{
		@extend .c-icon;
		background-image: url(../image/icon/icon_back.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		position: absolute;
		height:30px;width:30px;
		top: 0;
		left: -35px;
		border:map-get($colors, line ) 1px solid;
		box-shadow: 0px 3px 6px rgba(0, 149, 207, .15);
	}
	&__qr{
		@extend .c-icon;
		background-image: url(../image/icon/icon_qr_white.svg);
		width:40px;
	}
	&__list{
		@extend .c-icon;
		background-image: url(../image/icon/aside/icon_list_blue.svg);
		width:40px;
	}
	&__tile{
		@extend .c-icon;
		background-image: url(../image/icon/icon_qr_blue.svg);
		width:40px;
	}
	&__question{
		@extend .c-icon;
		background-image: url(../image/icon/icon_question.svg);
		width:60px;
	}
	&__checked{
		@extend .c-icon;
		background-image: url(../image/icon/icon_checked.svg);
		width:60px;
	}
	&__fish{
		@extend .c-icon;
		background-image: url(../image/icon/icon_fish.svg);
		width:60px;
	}
	&__item{
		@extend .c-icon;
		background-image: url(../image/icon/aside/icon_item_blue.svg);
		width:60px;
	}
	&__staff{
		@extend .c-icon;
		background-image: url(../image/icon/aside/icon_staff_blue.svg);
		width:60px;
	}
	&__company{
		@extend .c-icon;
		background-image: url(../image/icon/aside/icon_company_blue.svg);
	}
	&__check{
		@extend .c-icon;
		background-image: url(../image/icon/icon_check_green.svg);
		&.add{
			display: block !important;
		}
	}
	&__ok{
		@extend .c-icon;
		background-image: url(../image/icon/icon_check_green.svg);
		width:60px;
	}
	&__arrow{
		@extend .c-icon;
		background-image: url(../image/icon/icon_arrow.svg);
		display: block;
	}
	&__movable{
		background-image: url(../image/icon/icon_line.svg);
		width:16px;
		cursor: move;
	}
	// 新規作成とか用のボタンの装飾
	&__add{
		&:before{
			background: url(../image/icon/icon_plus_white.svg) no-repeat center;
			background-size: cover;
			width:16px;height:16px;
			content: '';
			display: block;
			border-radius: 50%;
			border: #fff 1px solid;
			margin-right: 4px;
		}
		&:hover{
			&:before{
				background: url(../image/icon/icon_plus.svg) no-repeat center;
				background-size: cover;
				border: color(main) 1px solid;
			}
		}
	}
	&__box{
		@extend .c-icon;
		background-image: url(../image/icon/icon_box.svg);
		border-radius: 50%;
		background-color:#fff;
		cursor:pointer;
	}
	&__plus{
		@extend .c-icon;
		background-image: url(../image/icon/icon_plus.svg);
		background-color: transparent;
		background-color: #fff;
		border: color(main) 1px solid;
		border-radius: 50%;
		padding: 0;
		cursor: pointer;
		&:hover{
			background-image: url(../image/icon/icon_plus_white.svg);
			background-color:color(main);
		}
	}
	&__minus{
		@extend .c-icon;
		background-image: url(../image/icon/icon_minus.svg);
		background-color: transparent;
		border: color(main) 1px solid;
		border-radius: 50%;
		padding:0;
		&:hover{
			background-image:url(../image/icon/icon_minus_white.svg);
			background-color: color(main);
		}
	}
}
.on{display: block !important;}
.off{display: none !important;}