@charset "UTF-8";
.l-sidebar{
  padding: 32px 0;
  .p-sidebar{
    background: #fff;
    border-radius: 0 16px 16px 0;
    &__head{
    }
    &__body{
      width: 100%;
    }
    &__foot{
    }
    .c-list__nav{
      >li{
        a{
        }
        .c-icon__w24{
        }
        &.user{
          .c-icon__w24{
            &:before{
              background:url(/image/icon/company/icon_license.svg) no-repeat center;
              background-size:cover;
            }
          }
          &.current,&:hover{
            .c-icon__w24{
              &:before{
                background:url(/image/icon/company/icon_license_white.svg) no-repeat center;
                background-size:cover;
              }
            }
          }
        }
        &.entry{
          .c-icon__w24{
            &:before{
              background:url(/image/icon/company/icon_document.svg) no-repeat center;
              background-size:cover;
            }
          }
          &.current,&:hover{
            .c-icon__w24{
              &:before{
                background:url(/image/icon/company/icon_document_white.svg) no-repeat center;
                background-size:cover;
              }
            }
          }
        }
        &.post{
          .c-icon__w24{
            &:before{
              background:url(/image/icon/company/icon_edit.svg) no-repeat center;
              background-size:cover;
            }
          }
          &.current,&:hover{
            .c-icon__w24{
              &:before{
                background:url(/image/icon/company/icon_edit_white.svg) no-repeat center;
                background-size:cover;
              }
            }
          }
        }
        &.setting{
          .c-icon__w24{
            &:before{
            }
          }
          &.current,&:hover{
            .c-icon__w24{
              &:before{
              }
            }
          }
        }
        &:hover,&.current{
          background-color: color(main);
          a{
            color: #fff;
          }
        }
      }
    }
  }
}