@charset "UTF-8";
/* ! ==================================================
- ボディ
================================================== */
.l-body {
  font-family: "Roboto", "Noto Sans JP", "Helvetica Neue", "Helvetica",
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
    sans-serif;
  // animation: fadeIn 3s ease 0s 1 normal;
  // -webkit-animation: fadeIn 3s ease 0s 1 normal;
  *{
    // スクロールバー
    ::-webkit-scrollbar{
      height: 8px;
      width: 8px;
    }
    ::-webkit-scrollbar-track{
        background-color: #ddd;
        border-radius: 4px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb{
      background-color: color(base);
      border-radius: 4px;
      height: 8px;
    }
  }
}

