@charset "UTF-8";
// 倉庫DXシステム作業画面
.l-warehouse__user{
  position:relative;
  background-color: #E9F0F2;
  min-width: 768px;
  // ログイン画面
  &.l-auth_login{
    background:linear-gradient(135deg, #00fff3, #0095ff);
    padding: 20px;
    .l-main{
      background-color: #fff;
    }
    .p-login{
      border: none;
      input{
        height: 60px;
        font-size: 20px;
        border-color: color(user);
      }
    }
    // フッター
    .l-footer{
      position:fixed;
      bottom:0;
      left: 0;
      z-index: 1;
      border: none;
      padding: 3px;
      .c-copyright{
        text-align: center;
        color: #fff;
      }
    }
  }
  // ダッシュボード画面
  &.l-home{
    .l-base{
      width: 100%;
      height: auto;
    }
    .l-sidebar{
      background:linear-gradient(135deg, #00e0eb, #0093d9);
      padding: 16px 0 24px;
      width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include responsive (tabletWide){
        width: 170px;
      }
      &__head{
        width: 100%;
        .c-logo{
          background: url(../image/logo/logo_white.svg) no-repeat center;
          background-size: cover;
          width: 120px;
          margin:0 auto 16px;
          &:before{
            content: '';
            display: block;
            padding-top: 60%;
            width: 100%;
          }
        }
        .c-date{
          background-color: rgba(0,0,0,.3);
          padding: 2px 4px 0;
          p{
            color: #fff;
            text-align: center;
            line-height: 1.2em;
          }
        }
      }
      &__body{
        margin-top: 20px;
        padding: 0 12px;
        flex: 1 1 auto;
        width: 100%;
        @include responsive (tabletWide){
          padding: 0 8px;
        }
        .info{
          .p-list{
            li{
              flex-direction: column;
              .head{
                border-bottom:#fff 1px solid;
                p{
                  color: #fff;
                }
                .c-button__ghost{
                  border-color: #fff;
                  height: auto;
                  font-size: 11px;
                  padding: 2px 2px 1px;
                  border-radius: 3px;
                  min-width: inherit;
                  z-index:1;
                  &:hover{
                    color: color(main);
                    background-color: #fff;
                  }
                }
              }
              .data{
                p{
                  color: #fff;
                  text-align: right;
                  span{
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
      &__foot{
        padding: 0 12px;
        .c-button__ghost{
          height: 35px;
          width: 100%;
        }
      }
    }
    // サイドバーここまで
    .l-main{
      flex-direction: column;
      background-color: transparent;
      padding: 15px 20px;
      @include responsive (tabletWide){
        // width: calc(100% - 240px);
      }
      .p-dashboard{
        &__head{
          .c-box{
            display: flex;
            align-items: center;
            padding:32px 20px;
            &__head{
              margin: 0 16px 0 0;
              width: 160px;
              flex: 0 0 160px;
            }
            &__body{
              flex: 1 1 auto;
              .title{
                display: flex; flex-wrap:wrap;
                align-items: flex-end;
                border-bottom: 2px solid color(user);
                .c-text__lv3{
                  margin-right: 8px;
                }
                .c-text__lv1,.c-text__lv2{
                  line-height: 1;
                }
              }
            }
          }
        }
        &__body{
          margin-top: 24px;
          .p-work__division{
            margin:16px 0 0;
            .p-list__split4{
              margin:-4px;
              >li{
                padding: 4px;
                @include responsive (tabletWide){
                  flex:1 1 auto;
                  width: 100%;
                }
                &.acceptance{
                  .c-image__square{
                    background-image: url(../image/image/img_acceptance.png)
                  }
                }
                &.handling{
                  .c-image__square{
                    background-image: url(../image/image/img_handling.png)
                  }
                }
                &.sorting{
                  .c-image__square{
                    background-image: url(../image/image/img_sorting.png)
                  }
                }
                &.picking{
                  .c-image__square{
                    background-image: url(../image/image/img_picking.png)
                  }
                }
                &.shipping{
                  .c-image__square{
                    background-image: url(../image/image/img_shipping.png)
                  }
                }
                article{
                  display: flex;
                  flex-direction: column;
                  position:relative;
                  padding: 24px 8px;
                  width:100%;
                  border-radius: 8px;
                  @include responsive (tabletWide){
                    padding: 24px 24px 24px 130px;
                  }
                  >a{
                    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
                    height:100%; width:100%;
                  }
                  >.c-box{
                    padding: 8px;
                    width:100%;
                    border-radius: 8px;
                    margin: 8px 0;
                    @include responsive (tabletWide){
                      position: absolute;
                      height: 100px;
                      width: 100px;
                      top: 50%;
                      left: 16px;
                      transform: translate(0, -50%);
                      margin:0;
                    }
                    .c-image__square{
                      border-radius: 8px;
                    }
                  }
                  .c-text{
                    .c-text__lv7{
                      color: #ccc;
                      @include responsive (tabletWide){
                        font-size: 16px;
                      }
                    }
                    .c-text__lv4{

                      letter-spacing: 0;
                      @include responsive (tabletWide){
                        font-size: 26px;
                      }
                    }
                    .c-text__user{
                      margin-left: auto;
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      margin-top: 4px;
                      &:after{
                        content: '';
                        display: block;
                        background: url(../image/icon/icon_arrow.svg) no-repeat center;
                        background-size: cover;
                        height:16px; width:16px;
                        border: 1px solid;
                        border-radius: 50%;
                        margin-left: 4px;
                      }
                    }
                  }
                  .c-button__user{
                    font-size: 13px;
                    height: 40px;
                  }
                  .c-button__line--user{
                    line-height: 1.2em;
                  }
                  .c-button__user,.c-button__line--user{
                    border-radius: 4px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
    .l-footer{
      position:absolute;
      bottom:0;
      right: 16px;
      .c-copyright{
        text-align: right;
      }
    }
  }
  // ここから下層
  &.l-page{
    .l-header{
      width: 100%;
      margin: 0;
      padding-right: 16px;
      display: flex;
      align-items: center;
      height: 67px;
      background-color: #fff;
      .p-logo{
        width: 125px;
        margin-right: 30px;
        height: 100%;
        background:linear-gradient(135deg, #00B0C7, #00B1FF);
        .c-logo{
          background: url(../image/logo/logo_white.svg) no-repeat center;
          background-size: cover;
          width: 100px;
          display: block;
          margin: 4px auto;
          transition: all 0.2s ease;
          &:hover{
            opacity: .7;
          }
          &:before{
            content: '';
            display: block;
            padding-top: 60%;
            width: 100%;
          }
        }
      }
      .c-image__square{
        margin-right: 20px;
        border-radius: 8px;
        border: color(user) 1px solid;
        width: 56px;
      }
      .c-text__lv2{
        color: color(deep);
        line-height: 1;
        font-size:28px;
        &:after{
          color:#A9ABBC;
          font-size: 14px;
          line-height: 1;
          margin: 0 0 0 4px;
        }
      }
      .c-button__sm{
        border-radius: 8px;
      }
    }
    &.l-page{
      .l-header{
        .c-image__square{
          background-image: url(../image/image/img_acceptance.png);
        }
        .c-text__lv2{
          &:after{
            content: 'Acceptance';
          }
        }
      }
      &.p-handle{
        .l-header{
          .c-image__square{
            background-image: url(../image/image/img_handling.png);
          }
          .c-text__lv2{
            &:after{
              content: 'Acceptance/Handling';
            }
          }
        }
      }
      &.p-sort{
        .l-header{
          .c-image__square{
            background-image: url(../image/image/img_sorting.png);
          }
          .c-text__lv2{
            &:after{
              content: 'Sorting';
            }
          }
        }
      }
    }
    &.l-page__picking{
      .l-header{
        .c-image__square{
          background-image: url(../image/image/img_picking.png);
        }
        .c-text__lv2{
          &:after{
            content: 'Picking';
          }
        }
      }
    }
    &.l-page__shipping{
      .l-header{
        .c-image__square{
          background-image: url(../image/image/img_shipping.png);
        }
        .c-text__lv2{
          &:after{
            content: 'Shipping';
          }
        }
      }
      .p-page{
        .c-box{
          // 表示内容がなかった場合
          .p-noContent{
            min-height: inherit;
          }
        }
      }
    }
    &.l-page__account{
      .l-header{
        .c-image__square{
          background-image: url(../image/image/img_account.png);
        }
        .c-text__lv2{
          &:after{
            content: 'Account';
          }
        }
      }
    }
    .l-base{
      width: 100%;
      height: inherit;
      padding-bottom: 64px;
      .l-main{
        position:relative;
        padding: 20px;
      }
    }
    .p-page{
      width: 100%;
      .c-box{
        max-height: 500px;
        margin:0;
        // 表示内容がなかった場合
        .p-noContent{
          min-height: 200px;
        }
      }
      .l-fix{
        .c-box{
        }
      }
      .c-title{
        margin-bottom: 8px;
        display: flex; flex-wrap:wrap;
        align-items: center;
        div{
          .c-text__unit{
            color: #888;
            margin:6px 4px 0 0;
          }
          p{
            line-height: 1;
          }
        }
      }
      .c-button__check{
        min-width: inherit;
        transition: inherit;
        &.checked{
          font-size: 0;
          border: color(ok) 3px solid;
          width: 50px;
          min-width: inherit;
          border-radius: 50%;
          background: url(../image/icon/icon_check_green.svg) no-repeat center;
          background-size: cover;
          cursor: default;
        }
        &.order_alert{
          font-size: 0;
          border: color(alert) 3px solid;
          width: 50px;
          min-width: inherit;
          border-radius: 50%;
          background: url(../image/icon/icon_caution.svg) no-repeat center;
          background-size: cover;
          cursor: default;
        }
      }
      .l-fix,.l-auto{
        .p-list{
          margin:-2px 0;
          >li{
            padding: 2px 0;
            input{
              +label{
                margin:0;
                border: 2px solid transparent;
                &:before, &:after{
                  content: none;
                }
              }
              &:checked{
                +label{
                  border: 2px solid #FF5C8E;
                }
              }
            }
            .c-box{
              padding: 4px 40px 4px 4px;
              width: 100%;
              position:relative;
              &.c-empty{
                min-height: 300px;
                padding: 20px;
                align-items: center;
                display: flex;
              }
              p{
                span{
                  letter-spacing: 0;
                }
              }
              .c-text__tag{
                padding: 2px 4px 1px;
                background-color: color(main);
                color: #fff;
                border-radius: 4px;
                font-size: 11px;
              }
              .c-icon__w32,.c-icon__w16{
                position:absolute;
                top:50%;
                right:6px;
                transform:translate(0,-50%);
                background-color: #fff;
                border: 1px solid color(user);
                border-radius: 4px;
              }
              .c-icon__w32{
                border: none;
                background-color: #E9F7F6;
              }
              .c-icon__next{
                background: url(../image/icon/icon_arrow.svg) no-repeat center;
                background-size: cover;
                border-radius: 50%;
                right:10px;
              }
              .f{
                .c-text{
                  margin-left: 4px;
                }
              }
            }
          }
        }
      }
      .c-box{
        img{
          border-radius: 4px;
        }
        &__body{
          max-height: 430px;
          overflow-y: auto;
          overflow-x: hidden;
          .p-table{
            th{
              p{
                color: #8c8d97;
              }
            }
            tbody{
              tr{
                &.select{
                  border:2px solid #FF5C8E;
                }
                .c-radio{
                  label{
                    &:before{
                      border-radius: 3px;
                      height: 32px;
                      width: 32px;
                    }
                    &:after{
                      height:20px;
                      width:13px;
                      background-color: transparent;
                      transform: translate(0, -50%) rotate(45deg);
                      border-right: color(main) 4px solid;
                      border-bottom: color(main) 4px solid;
                      border-radius:3px;
                      left:12px;
                      top:43%;
                    }
                  }
                }
              }
            }
          }
        }
        &__foot{
          .p-scroll{
            max-height: 280px;
          }
        }
      }
      .l-fix{
        .c-box{
          &__head{
            +.c-box__body{
              max-height: 400px;
            }
          }
        }
        &.c-info__deliver{
          .c-title{
            p{
              width: 100%;
            }
          }
          .c-box{
            max-height: 360px;
            flex-direction: column;
          }
        }
      }
    }
    &.l-page__accept{
      .l-fix{
        .c-box{
          &__body{
            overflow: inherit;
          }
        }
      }
      .c-box{
        height: 500px;
        ul{
          li{
            align-items: center;
            .head{
              min-width: 50px;
            }
          }
        }
        .c-finished{
          background-color: color(ok);
          position:absolute;top:0;left:0;
          width: 100%;
          border-radius: 5px 5px 0 0;
          padding: 4px 0;
          p{
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before{
              content: '';
              background: url(../image/icon/icon_check_white.svg) no-repeat center;
              border-radius: 50%;
              border: #fff 4px solid;
              background-size: cover;
              display: block;
              height:32px; width:32px;
              margin-right: 4px;
            }
          }
        }
      }
    }
    &.l-page__picking{
      .l-main{
        > form{
          margin:0 auto;
        }
      }
      .l{
        @include responsive (br){
          flex-direction: column;
          >div{
            width: 100%;
            flex:1 1 auto;
          }
        }
      }
      .l-fix{
        .c-box{
          min-height: 300px;
          &__head{
            margin:0;
            position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
            height:100%;
            width:100%;
            background-color: rgba(255,255,255,.9);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            border-radius: 8px;
            .c-icon{
              width: 200px;
              border-radius: 50%;
              border:color(ok) 16px solid;
            }
          }
        }
      }
      .l-auto{
        .c-box{
          &__body{
            overflow: inherit;
          }
          .c-label__area{
            position:relative;
            border: color(line) 1px solid;
            border-radius: 8px;
            width: 100%;
            &--head{
              position:absolute;
              top:0;
              left:0;
              padding: 2px 8px;
              background-color: color(user);
              border-radius:8px 0 8px 0;
              p{
                color: #fff;
                line-height: 1;
                font-weight: 700;
                font-size: 11px;
              }
              .c-input__file{
                input{
                  +label{
                    &:before{
                      padding-top: 55%;
                    }
                  }
                }
              }
            }
            &--body{
              padding: 20px 8px 8px;
              >ul{
                flex:auto;
                li{
                  &:first-child{
                    border-bottom:#000 2px solid;
                  }
                }
                +.f{
                  margin-top:16px;
                }
              }
              ul{
                >li{
                  align-items:center;
                  .head{
                    min-width: 30px;
                  }
                  .c-right{
                    border: #000 3px solid;
                    border-radius:4px;
                    margin-left: 8px;
                  }
                }
              }
              .c-right{
                margin-left: 8px;
              }
            }
            &--foot{
              position:absolute;
              bottom:2px;
              right: 6px;
              padding: 4px 2px;
              p{
                line-height: 1;
              }
            }
          }
          &__body{
            input[type="button"], label.c-button{
              text-align: center;
              height: 100px;
              width: 100%;
              max-width: inherit;
              font-size: 16px;
              margin: 0;
              margin-top: auto;
              font-weight: 900;
              border-width: 3px;
              box-shadow: 0px 3px 6px rgba(0, 208, 229, .15);
              &.disabled{
                cursor: auto;
                background-color: #ddd;
                border-color: #ddd;
                color: #fff;
              }
              &.issue_label{
                height: 50px;
              }
            }
          }
        }
        @include responsive (br){
          >div{
            display: flex; flex-wrap:wrap;
          }
        }
      }
    }
    &.l-page__account{
      .p-page .l-auto{
        > div{
          margin: 0 auto;
          .c-title{
            position:relative;
          }
        }
        .c-box{
          max-height: 560px;
          &__head{
            border-bottom:2px solid;
            margin-bottom: 16px;
            padding-bottom: 8px;
          }
          &__body{
            max-height: inherit;
          }
        }
        .p-list__row{
          margin:-16px 0;
          >li{
            width: 100%;
            padding: 16px 0;
            +li{
              border-top: #ddd 1px solid;
            }
            .head{
              margin-right: 4px;
              min-width: 100px;
            }
            .data{
              width: calc(100% - 100px);
            }
          }
        }
      }
      .p-buttonArea__bottom--fixed {
        .c-buttonArea__center{
          width: 100%;
        }
      }
    }
    .l-footer{
      display: none;
    }
    // 店舗仕分け
    &.p-check{
      .p-table{
        tbody{
          tr{
            opacity: .5;
            &.checked{
              opacity: 1;
            }
            &:focus{
              background-color: #E9F0F2;
            }
          }
        }
      }
      .l-fix__200{
        .c-box{
          padding: 8px 16px;
          .p-list{
            width: 100%;
            padding: -6px 0 -4px;
            >li{
              padding: 6px 0 4px;
              +li{
                border-top: 1px solid #ccc;
              }
              .head{
                margin-bottom: 4px;
              }
            }
          }
        }
        .c-buttonArea, .c-buttonArea__center{
          margin: 16px 0 0;
          .c-button__full{
            border-radius: 8px;
            margin:0;
            +.c-button__full{
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
  .c-arrow__left{
    padding-left: 40px;
    position:relative;
    &:before{
      content: '';
      position:absolute;
      top:50%;left:10px;
      transform:translate(0,-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 0 12.5px 12px;
      border-color: transparent transparent transparent #00d8f9;
    }
  }
  // 下部に固定のボタンエリア
  .p-buttonArea__bottom--fixed{
    z-index: 2;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    border-top:#ddd 1px solid;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding:8px 16px;
    .c-buttonArea__wrap{
      position:relative;
      width: 100%;
    }
    .c-button__user{
      min-width: 200px;
    }
    .c-button__gray{
      position:absolute;
      top:13px;
      left:4px;
      margin:0;
    }
  }
  .c-button{
    border-radius: 8px;
  }

  // 茶屋札
  .c-paper{
    max-height: inherit !important;
    border: 2px solid color(alert);
    &.c-box{
      .c-box__head{
        border: none;
      }
      .c-box__body{
        overflow: inherit !important;
        ul{
          margin:-4px;
          >li{
            padding: 4px;
            display: flex; flex-wrap:wrap;
            align-items: center;
            .head{
              min-width: 70px;
              +.data{
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
  &.l-page__shipping{
    .l-base{
      .l-main{
        .p-page{
          .c-box{
            height: 500px;
            &__body{
              overflow: inherit;
              max-height:inherit;
              .p-scroll{
                max-height: 430px;
                width: inherit;
                min-width: 280px;
              }
            }
          }
        }
      }
    }
  }
  &.l-page__poc{
    .p-page {
      .c-box{
        min-height: 180px;
        &__head{
            border-bottom: 2px solid color(alert);
        }
        &__body{
          overflow: inherit;
          width: 100%;
          .c-input{
            width: 400px;
            input{
              height: 60px;
              font-size: 32px;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}

@page {
    size: auto;
    margin: 0;
}

@media print {
    .c-label__area {
        position:absolute;
        left: 0;
        right: 0;
        margin: auto;
        border: color(line) 1px solid;
        border-radius: 8px;
        min-height: 200px;
        * {
            font-weight: 900;
        }
        &--head{
            position:absolute;
            top:0;
            left:0;
            padding: 2px 8px;
            background-color: color(user);
            border-radius: 8px 0 8px 0;
            p{
                color: #fff;
                line-height: 1;
                font-weight: 700;
                font-size: 11px;
            }
            .c-input__file{
                input{
                    +label{
                        &:before{
                            padding-top:55%;
                        }
                    }
                }
            }
        }
        &--body{
            padding: 0 16px 0 8px;
            width:350px;
            .f{
              border-top:#000 2px solid;
              margin-top:8px;
              padding-top:16px;
            }
            >ul{
              >li{
                .c-right{
                  p{
                    border-radius: 4px;
                    border: #000 3px solid;
                  }
                }
              }
            }
            ul{
              li{
                align-items: center;
                .head{
                  min-width: 30px;
                  p{
                    color: #000 !important;
                  }
                }
              }
            }
        }
        &--foot{
            position:absolute;
            bottom:12px;
            right: 8px;
            border: #000 3px solid;
            padding: 4px 2px;
            border-radius: 4px;
            p{
                line-height: 1;
            }
        }
    }
}
