@use "../foundation/responsive" as *;

.u-p0 {
  padding: 0;
}

// margin-bottom
@for $i from 0 through 50 {
  $num: $i * 4;
  .u-pt#{$num} {
    padding-top: #{calc($num / 2)}px;
  }
}
@include responsive(lg) {
  @for $i from 0 through 50 {
    $num: $i * 4;
    .u-pt#{$num} {
      padding-top: #{$num}px;
    }
  }
}

// padding-bottom
@for $i from 0 through 50 {
  $num: $i * 4;
  .u-pb#{$num} {
    padding-bottom: #{calc($num / 2)}px;
  }
}
@include responsive(lg) {
  @for $i from 0 through 50 {
    $num: $i * 4;
    .u-pb#{$num} {
      padding-bottom: #{$num}px;
    }
  }
}
