@charset "UTF-8";
/* ! --------------------------------------------------

- フッターレイアウト

-------------------------------------------------- */
.l-footer {
  width: 100%;
  margin: auto  0 0;
  padding: 15px 5px 5px 5px;
	.c-copyright{
		text-align:center;
    color: #bbb;
    font-weight: 500;
    font-size: 12px;
	}
}