@charset "UTF-8";
.l-home{
    .l-main{
        padding-top:32px;
    }
    .p-home{
        width: 100%;
        &__head{
            display: flex; flex-wrap:wrap;
            align-items: center;
            .c-button__line{
                border-radius:8px;
            }
        }
        &__body{
            margin-top: 16px;
            .p-list{
                counter-reset:count;
                >li{
                    &.measure{
                        .c-image__wide{
                            background-image:url(../image/iamge/img_dacs.svg);
                        }
                    }
                    &.packing{
                        .c-image__wide{
                            background-image:url(../image/iamge/img_packing.svg);
                        }
                    }
                    .p-upper{
                    }
                    .p-lower{
                        h3{
                            &:before{
                                content: '';
                                counter-increment: count;
                                border:#000 1px solid;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                &__split2{
                    margin:0;
                    >li{
                        +li{
                        }
                        .c-box{
                            border-radius:32px;
                            cursor: pointer;
                            transition: all 0.1s ease;;
                            &:hover{
                                transform: translateY(4px);
                                box-shadow: 0px 5px 10px rgba(0, 196, 226, .4);
                                background-color: color(main);
                            }
                            .c-image__square{
                                border-radius: 24px;
                                position:relative;
                                background-image: url(../image/bg/bg_work_1.jpg);
                                .c-text{
                                    position:absolute;
                                    top:50%;
                                    left:50%;
                                    transform:translate(-50%,-50%);
                                    width: 100%;
                                    p{
                                        color: #fff;
                                        &.c-text__lv1{
                                            font-size: 65px;
                                        }
                                    }
                                }
                            }
                        }
                        +li{
                            .c-box{
                                .c-image__square{
                                    background-image: url(../image/bg/bg_work_2.jpg);
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }
}
