@charset "UTF-8";
.l-body__management{
  .l-header{
    position:fixed;
    top:0;
    left: 0;
    z-index: 2;
    border: none;
  }
  .p-management{
    display: flex;
    flex: auto;
    min-width: 0;
    width: 100%;
    position:relative;
    .l-aside{
      width: 150px;
      height: calc(100% - 50px);
      position:fixed;
      padding:20px 0;
      top:50px;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .p-nav{
        width: 100%;
      }
      .c-buttonArea{
        .c-button__min{
          font-size:11px;
          max-width: 140px;
          text-align: center;
        }
      }
    }
    .l-main{
      flex:1 1 auto;
      padding: 70px 20px 0 180px;
      .c-alert{
        margin:8px 0;
        background-color: #fff;
        display: block;
        &:hover{
          background-color: #fbe6f1;
        }
        p{text-align:left;
          position:relative;
          display: flex;
          align-items: center;
          span{
            margin-right: 8px;
          }
        }
      }
      .l-half{
        .p-order{
          &__body{
            overflow: auto;
            .p-scroll{
              max-height: 330px;
              min-height: 330px;
              @include responsive (tablet){
                max-height: 400px;
              }
            }
          }
        }
      }
      .p-index{
        height: 100%;
        position:relative;
        &__head{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          .c-icon{
            width: 30px;
          }
          margin-bottom:8px;
        }
        &__body{
          .p-table{
            thead{
              background-color: transparent;
              th{
                background-color: transparent;
              }
            }
          }
          .p-listTile{
            >li{
              @include responsive (note){
                width: 25%;
                flex: 0 0 25%;
              }
              .c-box{
                height: 100%;
                display: flex; 
                flex-direction: column;
                &__head{
                  flex: 1 1 auto;
                  .name{
                    margin-top: 8px;
                  }
                }
                &__body{
                  flex: 0 0 82px;
                  display: flex; 
                  flex-direction: column;
                  ul{
                    >li{
                      flex-wrap: nowrap;
                      .head{
                        min-width: 50px;
                      }
                      .data{
                        .c-input{
                          flex-wrap: nowrap;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .c-titleUnderline{
            .total{
              .c-text__unit{
                margin:0 4px;
                position:static;
                display: inline;
              }
            }
          }
          &--title{
            display: flex;flex-wrap:wrap;
            margin-bottom: 10px;
          }
          .l-fix{
            .c-box{
              width: 100%;
              .l-fix{
                border-right: #eee 1px solid;
                .p-list{
                  .tab{
                    opacity: .5;
                    cursor: pointer;
                    &.switch{
                      opacity: 1;
                      p{
                        font-weight: 700;
                        position:relative;
                        &:before{
                          content: '';
                          display: block;width: 0;
                          height: 0;
                          border-style: solid;
                          border-width: 5px 0 5px 6px;
                          border-color: transparent transparent transparent color(form);
                          position:absolute;
                          top: 3px;
                          left: -10px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .l-auto{
            flex-direction: column;
            .p-list__border{
              >li{
                border-bottom: 1px solid #eee;
                cursor: pointer;
                position:relative;
                padding-right: 30px;
                transition: ease 0.2;
                &:hover{
                  background-color: #ecf8f9;
                }
                &.selected{
                  background-color:#ecf8f9;
                }
                .c-icon__movable{
                  margin-right: 8px;
                  opacity: .2;
                }
                &:after{
                  content: '';
                  display: block;
                  background: url(../image/icon/icon_arrow.svg) no-repeat center;
                  height:16px;width:16px;
                  position:absolute;
                  top: 50%;
                  right: 5px;
                  transform: translateY(-50%);
                  border: color(main) 1px solid;
                  border-radius: 50%;
                }
              }
            }
          }
          .p-listCard{
            padding-bottom: 100px;
          }
        }
        &__foot{
          margin-top: 16px;
          &.p-bottom{
            position:absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 16px 0 0;
          }
        }
      }
      .p-sort{
        display: flex;
        margin: 0 0 8px;
        .c-button{
          height: 35px;
        }
      }
      input:not([type="submit"]),select{
        height: 35px;
      }
    }
    .l-workflow{
      &__foot{
        background-color: inherit;
        margin: 0;
        .p-scrollBox{
          padding: 0;
          .p-scroll{
            margin:0;
            .c-list__scroll{
              >li:first-child{
                position: inherit;
              }
            }
          }
        }
        .p-frame{
          margin-top: 8px;
          .p-listCard{
            .c-listCard{
              >li{
                &.stage2{
                  article{
                    &:after{
                      content: '';
                      display: block;
                      position:absolute;
                      top: inherit;
                      bottom:2px;
                      left:2px;
                      background-color: #eee;
                      border: #fff 2px solid;
                      height:16px;width:16px;
                      border-radius: 50%;
                      background-color: #00B025;
                      box-shadow: 0px 3px 6px rgba(0, 196, 226, .3);
                    }
                  }
                }
                &.stage3{
                  article{
                    &:after{
                      content: '';
                      display: block;
                      position:absolute;
                      top: inherit;
                      bottom:2px;
                      left:2px;
                      background-color: color(main);
                      border: #fff 2px solid;
                      height:16px;width:16px;
                      border-radius: 50%;
                      box-shadow: 0px 3px 6px rgba(0, 196, 226, .3);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .p-document{
      padding: 40px;
      &__head{
        position:relative;
        .c-number__shoulder{
          position:absolute;
          top:10px;
          right: 0;
          p{
            display: block;
            text-align: right;
            margin:0;
            +p{
              margin:4px 0 0;
            }
            &:before{
              margin-right:4px;
            }
          }
        }
      }
      &__body{
        border-top: 2px solid #333;
        margin:20px 0 0;
        padding:20px 0 0;
        .l-half{
          +.l-half{
            border-left:1px solid #ccc;
          }
          .p-list{
            margin:-4px;
            >li{
              padding:4px;
            }
          }
        }
      }
      &__foot{
        border-top: 2px solid #333;
        margin:16px 0 0;
        padding:16px 0 0;
        .p-list{
          &__wrap{
            >li{
              >article{
                >div{
                  padding:4px;
                  border: color(main) 1px solid;
                  border-radius: 3px;
                }
              }
            }
          }
          &__row{
            >li{
              border-bottom:#ccc 1px solid;
              .l-auto{
                .f-wrap{
                  p{
                    line-height: 1;
                    padding: 4px;
                  }
                }
              }
            }
          }
        }
        
        .c-icon{
          width: 40px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .data{
          &:first-child{
            margin-right: 16px;
          }
        }
        .p-list{
          &__border{
            margin:-6px 0;
            >li{
              padding:6px 0;
            }
          }
        }
        .p-table{
          thead{
            border-color: #ccc;
          }
        }
        .p-list__split3{
          > li{
            article{
              display: flex; flex-wrap:wrap;  
              >*{
                margin-right: 4px;
              }
            }
            .c-image{
              flex:0 0 72px;
              width: 72px;
              max-height: 56px;
              background-color: #333;
              border-radius: 3px;
            }
            .c-icon{
              &.qr{
                max-height: 56px;
              }
            }
            .c-text{
              flex:1 1 auto;
              width: auto;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
// QRラベル印刷ページ
.l-list__qr{
  ul{
    >li{
      article{
          display: flex; 
          flex-direction: column;
          align-items: center;
          img{
              margin: 8px 0 0;
          }
      }
    }
  }
}