@charset "UTF-8";
.l-page{
  main{
    >section{
      margin:0 auto;
      width: 100%;
    }
  }
  .p-workflow{
    padding-bottom:40px;
    width: 100%;
    &__head{
      display: flex; flex-wrap:wrap;
      align-items: center;
      .c-alert{
        margin-left: 8px;
      }
    }
    &__body{
      margin-top: 16px;
      .p-sort{
        background-color:#B5ECF4;
        padding:8px 24px;
        display: flex; flex-wrap:wrap;
        align-items: center;
        .p-list__wrap{
          width: auto;
          select{
            color:color(main);
          }
        }
        .c-image__wide{
          border: 1px solid color(main);
          width: 150px;
        }
      }
      .c-buttonArea__end{
        .c-button{
          width: 100%;
        }
      }
      .l{
        .l-auto{
          align-items:flex-end;
          label.c-button__line{
            width:100%;
            height:80px;
            margin: 0;
            border-width: 2px;
            &.disabled{
              cursor: auto;
              background-color: #ddd;
              border-color: #ddd;
              color: #fff;
            }
          }
        }
      }
    }
    &__foot{
      padding: 16px 0;
      .p-list{
        align-items: flex-start;
        >li{
          display: block;
          &.weight{
            .body{
              .c-input{
                input{
                  height: 100px;
                  font-size:60px;
                  text-align: right;
                  color: color(main);
                }
              }
            }
          }
          .c-label{
            background: url(../image/icon/icon_noimage_white.svg) no-repeat center;
            background-size: cover;
            height: 300px;
            display: block;
            width: 100%;
            position: relative;
            border: 1px solid color(main);
            border-radius: 4px;
            canvas{
              width: 100%;
              height: 300px;
              border-radius: 4px;
              display: block;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;

            }
          }
          .c-input__file{
            background: url(../image/icon/icon_qr.svg);
            background-size: cover;
            width: 170px;
            height: 170px;
            border-radius: 3px;
            position:relative;
            img{
              position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
              width: 170px;
              height: 170px;
            }
          }
          article{
            .label{
              min-width:50px;
            }
          }
        }
      }
      .qr{
        width:100%;
      }
      .c-buttonArea{
        a{
          max-width:inherit;
        }
      }
      .p-frame{
        background-color: #DEF7FF;
        border: color(main) 1px solid;
        padding: 20px 15px;
        margin-top: 20px;
        border-radius:5px;
        width:100%;
        // max-width: 928px;
        overflow: auto;
        position:relative;
        #js-target-on{
          display: none;
          outline: none;
          padding: 4px 8px;
          color: color(main);
          margin-top: 8px;
          border: color(main) 1px solid;
          border-radius: 3px;
          +.c-text__error{
            display: block;
            position:absolute;
            top: 21px;
            left: 90px;
            margin:0;
            padding: 0;
            border: none;
          }
          &:focus{
            +.c-text__error{
              display: none;
            }
          }
        }
      }
      .c-iconBox{
        background-image: url(../image/icon/icon_box_white.svg);
        background-color: map-get($colors , main);
        border-radius: 50%;
        width: 50px;
        // margin:0 auto;
        cursor: pointer;
        &.switch{
          background-image: url(../image/icon/icon_box.svg);
          background-color: #fff;
          box-shadow: 0px 0px 10px rgba(0, 196, 226, .3);
        }
        &__close{
          background-image: url(../image/icon/icon_box_white_close.svg);
          background-color: map-get($colors , main);
          border-radius: 50%;
          width: 50px;
          margin:0 auto;
          cursor: pointer;
          &.switch{
            background-image: url(../image/icon/icon_box_close.svg);
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 196, 226, .3);
          }
        }
      }
      .c-iconPlus{
        background-image: url(../image/icon/icon_plus.svg);
        background-color: #fff;
        border: #00C4E2 1px solid;
        border-radius: 50%;
        width: 40px;
        margin:0 auto;
        cursor: pointer;
      }
    }
  }
  .p-order{
    &__head{
      display: flex;flex-wrap:wrap;
      align-items: center;
      position: relative;
      // 戻るボタン
      .c-icon__back{
        background: #fff url(../image/icon/icon_back.svg) no-repeat center;
        background-size: cover;
        display: block;
        width: 30px;
        position: absolute;
        border: color(main) 1px solid;
        top:0;
        left: -40px;
        z-index: 1;
        &:before{
          content: '';
          display: block;
          padding-top: 100%;
          width: 100%;
        }
      }
    }
    &__body{
      margin-top: 10px;
      .p-companyInfo{
        border-radius: 0;
        display: flex; flex-wrap:wrap;
        .p-list__wrap{
          width: auto;
          align-items: flex-start;
          +.p-list__wrap{
            margin-left: auto;
          }
          >li{
            &.add{
              .label{
                display: flex;
                align-items: center;
                &:after{
                  display: block;
                  content: '追加注文';
                  background-color: color(accent);
                  color: #fff;
                  font-size: 11px;
                  line-height: 1em;
                  font-weight: 700;
                  padding:2px 3px;
                  border-radius: 3px;
                  margin-left: 4px;
                }
              }
            }
          }
        }
        .data{
          &:after{
            content: attr(data-unit) '';
            color: #444;
            font-weight: 400;
            font-size: 13px;
            line-height: 1.5em;
          }
        }
      }
    }
    &__foot{
      margin: 20px 0 0;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  }
  &__scan{
    @include responsive (tablet){
      margin:0;
    }
    .p-index{
      &__body{
        .l{
          @include responsive (tablet){
            flex-direction: column;
            > div{
              width: 100%;
              flex: 1 1 auto;
            }
          }
        }
      }
    }
  }
  .number{
    line-height:1;
    margin:0;
  }
}
.p-index{
  width: 100%;
  &__600{
    width: 100%;
    max-width: 600px;
  }
  &__800{
    width:100%;
    max-width: 800px;
  }
  &__head{
    position:relative;
  }
  &__body{
    .c-box{
      .p-list{
        &__row{
          >li{
            display: flex; flex-wrap:wrap;
            align-items: center;
            .head{
              min-width: 80px;
            }
          }
        }
      }
      .c-image__square{
        border-radius:4px;
        border: color(line) 1px solid;
      }
    }
  }
  &__foot{
    margin-top:16px;
  }
}
.p-task{
  &__body{
    padding: 8px 16px 4px;
    background-color: #e0f1f7;
    ul{
      li{
        display: flex; flex-wrap:wrap;
        align-items: center;
        div{
          margin-left: 8px;
        }
      }
    }
  }
}
.l-noAside{
  .l-header {
    h1,.l-fix{
      display: none;
    }
  }
  .l-body__management {
    .p-management {
      .l-main{
        padding:70px 30px;
        @include responsive (tablet){
          margin:0;
          max-width: 768px;
          width: 100%;
          padding: 60px 0;
        }
        @include responsive (sp){
          max-width: 375px;
        }
      }
    }
  }
}
// ラベル出力とかの
.c-label__area{
  position:relative;
  border: color(main) 1px solid;
  border-radius: 8px;
  &--head{
    position:absolute;
    top:0;
    left:0;
    padding: 2px 8px;
    background-color: color(main);
    border-radius: ７px 0 ７px 0;
    p{
      color: #fff;
      line-height: 1;
      font-weight: 700;
      font-size: 11px;
    }
    .c-input__file{
      input{
        +label{
          &:before{
            padding-top: 55%;
          }
        }
      }
    }
  }
  &--body{
    padding: 20px 8px 8px;
    display: flex;
    min-width: 278px;
    .c-qr{
      background-image: url(../image/icon/icon_qr.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height:140px; width:140px;
      flex:0 0 140px;
      margin-right: 8px;
    }
    ul{
      flex: 1 1 auto;
      margin:-4px 0;
      li{
        align-items: center;
        padding: 4px 0;
        &:first-child{
          border-bottom: 2px solid;
        }
        .head{
          min-width: 45px;
        }
      }
    }
  }
  &--foot{
    position:absolute;
    bottom:12px;
    right: 8px;
    border: #000 3px solid;
    padding: 4px 2px;
    border-radius: 4px;
    p{
      line-height: 1;
    }
  }
}
