@charset "UTF-8";
/* ! ==================================================

- リスト

================================================== */
/* ! --------------------------------------------------

- リスト

-------------------------------------------------- */
.p-listForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  > li {
    width: 100%;
    + li {
      margin: 12px 0 0;
    }
  }
  &__row{
	  display:flex;
	  flex-wrap:wrap;
    flex-direction: row;
    margin: -8px;
    >li{
      padding: 8px;
    }
  }
  //2分割
  &__split2 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    > li {
      width: 50%;
      padding: 8px;
      + li {
        margin: 0;
      }
    }
  }
  //3分割
  &__split3 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    > li {
      width: 33.3333%;
      padding: 8px;
      + li {
        margin: 0;
      }
    }
  }
  //4分割
  &__split4 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    > li {
      width: 25%;
      padding: 8px;
      + li {
        margin: 0;
      }
    }
  }
  //5分割
  &__split5 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    > li {
      width: 20%;
      padding: 8px;
      + li {
        margin: 0;
      }
    }
  }
  &__label {
    @extend %c-text__lv6;
    display: flex;
    align-items: center;
    margin: 0 0 4px;
  }
  &__data {
    font-size: 14px;
  }
  .head{
    
  }
  .body,.data{
  
  }
  
}
