@charset "UTF-8";
%l-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width:100%;
}
.l-grid{
  &--2{
    @extend %l-grid;
    @include responsive (spWide){
      grid-template-columns: 1fr 1fr;
    }
  }
  &--3{
    @extend %l-grid;
    @include responsive (spWide){
      grid-template-columns: 1fr 1fr;
    }
    @include responsive (tablet){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &--4{
    @extend %l-grid;
    @include responsive (spWide){
      grid-template-columns: 1fr 1fr;
    }
    @include responsive (tablet){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include responsive (tabletWide){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &--5{
    @extend %l-grid;
    @include responsive (spWide){
      grid-template-columns: 1fr 1fr;
    }
    @include responsive (tablet){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include responsive (tabletWide){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include responsive (note){
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &--6{
    @extend %l-grid;
    @include responsive (spWide){
      grid-template-columns: 1fr 1fr;
    }
    @include responsive (tablet){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include responsive (tabletWide){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include responsive (note){
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @include responsive (pc){
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &--gap8{
    gap: .5rem;
  }
  &--gap24{
    gap: 1.5rem;
  }
  &--gap32{
    gap: 2rem;
  }
  &--gap40{
    gap: 2.5rem;
  }
}
.c-masonry{
  columns:2;
  >*{
    display:block;
    margin-bottom: 1rem;
  }
  @include responsive (spWide){columns:3;}
  @include responsive (tablet){columns:4;}
  @include responsive (pc){columns:5;}
  @include responsive (pcWide){columns:6;}
}