@charset "UTF-8";
/* ! --------------------------------------------------
- errorPage
-------------------------------------------------- */
.l-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  .l-main{
    justify-content: center;
    .l-frame{
      margin:0 auto;
      .c-text__lv1{font-size:200px;line-height:1;}
    }
  }  
  &__head { 
    &__title {
      color: color(accent);
      font-size: 120px;
      font-weight: 700;
      line-height: 1em;
      text-align: center;
    }
    &__subTitle {
      color: color(accent);
      font-size: 40px;
      font-weight: 600;
      line-height: 1em;
      margin: 8px 0 0;
      text-align: center;
    }
  }
  &__body {
    margin: 32px 0 0;
    text-align: center;
    &__title {
      font-size: 20px;
      font-weight: 700;
    }
    &__description {
      margin: 16px 0 0;
    }
  }
  &__foot {
    margin: 40px 0 0;
  }
}