@charset "UTF-8";
// データテーブルの使用
.p-index{
  .c-box{
    .dataTables_wrapper {
      position:relative;
      .p-table{
        &__800{
          @extend .p-table;
          min-width:800px
        }
        &__900{
          @extend .p-table;
          min-width:900px
        }
        &__1100{
          @extend .p-table;
          min-width:1100px
        }
        &__1300{
          @extend .p-table;
          min-width:1300px
        }
      }
      .dataTables_filter{
        position: absolute;
        top: -43px;
        left: 330px;
        text-align: left;
        label{
          margin:0;
          position:relative;
          &:after{
            content: '';
            display: block;
            background: url(../image/icon/icon_glass.svg) no-repeat center;
            background-size: cover;
            height:24px; width:24px;
            position:absolute;top:50%;right:4px;transform:translate(0,-50%);
          }
        }
        input{
          height: 35px;
          border:color(form) 1px solid;
          border-radius: 3px;
          padding: 4px 30px 4px 4px;
        }
        @include responsive (spWide){
          position: static;
        }
      }
      .dataTables_scroll{
        margin-top: 8px;
        >div{
          +div{
            .p-table{
              thead{
                opacity: 0;
              }
            }
          }
        }
      }
      .p-table{
        width: 100% !important;
        thead {
          .sorting{
            position:relative;
            padding-right: 24px;
            &:after{
              content: '';
              display: block;
              background: url(../image/icon/icon_updown.svg) no-repeat center;
              background-size: cover;
              width: 16px;
              height: 16px;
              opacity: .3;
              border: color(line) 1px solid;
              border-radius: 3px;
              transform:translate(0,-50%);
              position:absolute;
              top:48%;
              right:4px;
            }
            &.sorting_desc{
              &:after{
                opacity: 1;
              }
            }
            &.sorting_asc{
              &:after{
                opacity: 1;
                transform:translate(0,-50%) rotate(180deg);
              }
            }
            &.unsort{
              cursor: default;
              padding: 4px;
              &:after{
                content: none;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              border-bottom:#e8e8e8 1px solid;
              .c-icon__arrow{
                border-radius: 50%;
                border: color(line) 1px solid;
                margin-left: auto;
              }
            }
          }
        }
      }
      // 左下の表示件数情報
      .dataTables_info{
        position:absolute;
        bottom:4px;
        left:4px;
        color: color(main);
        padding: 0;
        @include responsive (spWide){
          position: static;
          padding: 8px 0;
        }
      }
      // ページネーション
      .dataTables_paginate.paging_simple_numbers{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        span{
          margin:0 8px;
          display: flex; flex-wrap:wrap;
        }
        a{
          display: flex;
          align-items: center;
          background-color: #fff;
          box-shadow: 0px 3px 6px rgba(0, 96, 21, 0.15);
          border-radius: 3px;
          padding: 2px 8px;
          transition: all 0.2s;
          color: color(main);
          +a{
            margin-left: 4px;
          }
          &:hover{
            color: color(light);
            box-shadow: 0px 1px 3px rgba(0, 71, 15, 0.3);
            transform: translateY(2px);
          }
          &.previous{
            &:before{
              content: '';
              display: block;
              height:6px; width:6px;
              transform: rotate(-135deg);
              border-top: color(main) 1px solid;
              border-right: color(main) 1px solid;
              margin-right: 4px;
            }
            &:hover{
              &:before{
                border-color: color(light);
              }
            }
          }
          &.next{
            &:after{
              content: '';
              display: block;
              height:6px; width:6px;
              transform: rotate(45deg);
              border-top: color(main) 1px solid;
              border-right: color(main) 1px solid;
              margin-left: 4px;
            }
            &:hover{
              &:after{
                border-color: color(light);
              }
            }
          }
          &.disabled,&.current{
            color: color(main);
            transform: inherit;
            box-shadow: none;
            cursor: default;
            &:before, &:after{
              content: none;
            }            
          }
        }
      }
    }
  }
}