@charset "UTF-8";
/* ! ==================================================
- テキスト
================================================== */
.c-title{
  display: flex; 
  align-items: center;
  line-height: 1;
  +.c-buttonArea{
    margin-left: 8px;
  }
  >span{
    background-color: color(main) !important;
    border-radius:50%;
    margin-right: 8px;
    position:relative;
    width: 32px;
    height: 32px;
    &:before{
      content: '';
      display: block;
      background-size: cover !important;
      width: 20px;
      height: 20px;
      position:absolute;top:50%;left:50%;
      transform:translate(-50%,-50%);
    }
    &.c-icon__dashboard{
      &:before{
        background:url(../image/icon/sidebar/ico_dashboard_white.svg) no-repeat center;
      }
    }
    &.c-icon__item{
      &:before{
        background: url(../image/icon/sidebar/ico_item_white.svg) no-repeat center;
      }
    }
    &.c-icon__checkin{
      &:before{
        background: url(../image/icon/sidebar/ico_checkin_white.svg) no-repeat center;
      }
    }
    &.c-icon__order{
      &:before{
        background: url(../image/icon/sidebar/ico_list_white.svg) no-repeat center;
      }
    }
    &.c-icon__pickup{
      &:before{
        background: url(../image/icon/sidebar/ico_box_white.svg) no-repeat center;
      }
    }
    &.c-icon__partner{
      &:before{
        background: url(../image/icon/sidebar/ico_partner_white.svg) no-repeat center;
      }
    }
    &.c-icon__account{
      &:before{
        background: url(../image/icon/sidebar/ico_account_white.svg) no-repeat center;
      }
    }
    &.c-icon__document{
      &:before{
        background: url(../image/icon/sidebar/ico_doc_white.svg) no-repeat center;
      }
    }
  }
}
.c-text,
%c-text {
  &__lv1 {
    color: color(text);
    font-weight: 500;
    font-size: 50px;
    line-height: 1.45833em;
    letter-spacing: 0;
  }
  &__lv2 {
    color: color(text);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5em;
    letter-spacing: .04em;
  }
  &__lv3 {
    color: color(text);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.45833em;
    letter-spacing: .03em;
  }
  &__lv4 {
    color: color(text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .04em;
  }
  &__lv5 {
    $lv5: #{&};
    color: color(text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .04em;
    &--base {
      @extend #{$lv5};
      color: color(base);
      font-weight: 400;
    }
  }
  &__lv6 {
    color: color(text);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.45455em;
    letter-spacing: .04em;  
  }
  &__lv7 {
    color: color(text);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.45455em;
    letter-spacing: .04em;  
  }
  &__sub {
    color: color(base);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: .04em;
  }
  &__note {
    color: color(text);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.45455em;
    letter-spacing: 0;
    display: inline-block;
  }
  &__label {
    color: #666;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.45455em;
    letter-spacing: 0;
    display: inline-block;
  }
  &__unit {
    font-weight: 400;
    font-size: 12px;
    line-height: 1em;
    margin: 0 2px;
    letter-spacing: 0;
    display: inline-block;
    color: #555;
  }
  &__min{
    font-size: 11px;
    letter-spacing: 0;
    display: inline-block;
    color: #555;
  }
  &__label--head{
    color: #9e9fa9;
    font-weight: 500;
    font-size: 12px;
    line-height: 1em;
  }
  // 注意書き
  &__caution{
    color:#EB7091;
    margin:0 4px;
  }
  &__main {
    color: color(main);
  }
  &__accent {
    color: color(accent);
  }
  &__user {
    color: color(user);
  }
  &__deep {
    color: color(deep);
  }
  &__gray {
    color: color(aaa);
  }
  &__red {
    color: color(alert);
  }
  &__green {
    color: color(ok);
  }
  &__alert {
    color: #FF5C8E;
  }
  &__fff {
    color: #fff;
  }
  &__weight--700 {
    font-weight: 700;
  }
  &__weight--900 {
    font-weight: 900;
  }
  &__letter--none {
    letter-spacing: 0;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--ellipsis {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
// アラート分
.c-alert{
  margin:0 0 16px;
  padding: 2px 4px 0;
  border: #D92B89 1px solid;
  display: block;
  p{
    color:#D92B89;
    font-size: 15px;
    text-align: center;
  }
}

// 擬似要素
[data-before]{
  &:before{
    content: attr(data-before) '';
    font-size: 0.6em;
    font-weight: 500;
  }
}
[data-after]{
  &:after{
    content: attr(data-after) '';
    font-size: 0.6em;
    font-weight: 500;
  }
}