@charset "UTF-8";
/* ! ==================================================

- ボディ

================================================== */
/* ! --------------------------------------------------

- ボディ

-------------------------------------------------- */
.l-body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-width: 0;
  position: relative;
  min-width: 1024px;
  background-color: #E9F7F6;
  }

