@charset "UTF-8";
/* ! --------------------------------------------------

- コンテナ

-------------------------------------------------- */
.l-container {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  @include responsive(pc){
    padding: 0 16px;
  }
  @include responsive(tablet){
    min-width: inherit;
  }
  &__full {
    @extend .l-container;
    max-width: 1440px;
  }
  &__1080 {
    @extend .l-container;
    max-width: 1080px;
    min-width: inherit;
  }
  &__960 {
    @extend .l-container;
    max-width: 960px;
    min-width: inherit;
  }
  &__768 {
    @extend .l-container;
    max-width: 768px;
    min-width: inherit;
  }
  &__600 {
    @extend .l-container;
    max-width: 600px;
    min-width: inherit;
  }
}
