@charset "UTF-8";
.l-admin{
  .l-header{
    position:fixed;
    top:0;
    left: 0;
    z-index: 2;
  }
  .p-admin{
    display: flex;
    flex: auto;
    min-width: 0;
    width: 100%;
    position:relative;
    @include responsive (pc){
      flex-direction: column;
    }
    .l-aside{
      width: 150px;
      height: calc(100% - 50px);
      position:fixed;
      padding:20px 0;
      top:50px;
      left: 0;
      z-index: 1;
    }
    .l-main{
      flex:1 1 auto;
      padding: 70px 20px 50px 180px;
      .l-container{
        margin:0;
      }
      .l-half{
        .p-order{
          &__body{
            overflow: auto;
            .p-scroll{
              min-width: inherit;
              max-height: 330px;
              @include responsive (tablet){
                max-height: 400px;
              }
            }
          }
        }
      }
      .p-index{
        &.p-store{
          .c-box{
            height: 100%;
            display: flex;
            flex-direction: column;
            margin:0 auto;
            .c-info{
              margin: 8px 0 0;
              display: flex;
              flex-direction: column;
              margin: 8px 0 0;
              flex: 1 1 auto;
              .c-text__lv5{
                flex: 1 1 auto;
              }
            }
          }
        }
        +.p-index{
          margin-top: 24px;
        }
        &__head{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;
          .c-icon{
            width: 30px;
          }
        }
        &__body{
          margin-top: 10px;
          &--title{
            display: flex;flex-wrap:wrap;
            margin-bottom: 10px;
          }
          .c-box{
            width: 100%;
            &__body{
              // border-right: #eee 1px solid;
              .p-list{
                .tab{
                  opacity: .5;
                  cursor: pointer;
                  &.switch{
                    opacity: 1;
                    p{
                      font-weight: 700;
                      position:relative;
                      &:before{
                        content: '';
                        display: block;width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 6px;
                        border-color: transparent transparent transparent color(form);
                        position:absolute;
                        top: 3px;
                        left: -10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .l-auto{
            flex-direction: column;
            .title {
              &.c-titleUnderline{
                .c-text__lv2{
                  margin-left:8px;

                }
              }
            }            
            .p-list__border{
              >li{
                border-bottom: 1px solid #eee;
                cursor: pointer;
                position:relative;
                padding-right: 30px;
                transition: ease 0.2;
                &:hover{
                  background-color: #ecf8f9;
                }
                &.selected{
                  background-color:#ecf8f9;
                }
                .c-icon__movable{
                  margin-right: 8px;
                  opacity: .2;
                }
                &:after{
                  content: '';
                  display: block;
                  background: url(../image/icon/icon_arrow.svg) no-repeat center;
                  height:16px;width:16px;
                  position:absolute;
                  top: 50%;
                  right: 5px;
                  transform: translateY(-50%);
                  border: color(main) 1px solid;
                  border-radius: 50%;
                }
              }
            }
          }
        }
        &__foot{
          margin: 20px 0 0;
          .p-list{
            width: 100%;
            >li{
              width: 100%;
              justify-content: flex-end;
              align-items: center;
              +li{
                border-top:#ccc 1px solid;
              }
              &:last-child{
                border-top:#000 2px solid;
              }
              .head{
              }
              .data{
                width: 190px;
              }
            }
          }
        }
      }
      .p-sort{
        display: flex;
        margin-bottom: 10px;
        input,select,.c-button{
          height: 35px;
        }
      }
    }
    .l-workflow{
      &__foot{
        margin-top: 16px;
        .p-scrollBox{
          padding: 0;
          .p-scroll{
            margin:0;
            .p-list__scroll{
              >li:first-child{
                position: inherit;
              }
            }
          }
        }
        .p-frame{
          margin-top: 8px;
        }
      }
    }
    .p-document{
      padding: 40px;
      &__head{
      }
      &__body{
        border-top: 2px solid #333;
        margin:20px 0 0;
        padding:20px 0 0;
        .l-half{
          +.l-half{
            border-left:1px solid #ccc;
          }
        }
      }
      &__foot{
        border-top: 2px solid #333;
        margin:20px 0 0;
        padding:20px 0 0;
        .c-icon{
          flex:0 0 50px;
          width: 50px;
          background: url(../image/sample/img_qr.svg) no-repeat center;
          background-size: contain;
          border: color(main) 1px solid;
          border-radius: 3px;
        }
        .p-list__split3{
          > li{
            display: flex;
            >*{
              margin-right: 4px;
            }
            .c-image{
              flex:0 0 56px;
              width: 56px;
              background-size: contain;
              background-color: #333;
            }
            .c-text{
              flex:1 1 auto;
              width: auto;
            }
          }
        }
      }
    }
    &.l-noAside{
      .l-main{
        padding:70px 30px;
      }
    }
  }
}

// パイチャート
.c-graph{
  border-radius: 50%;
  height:160px;
  width:320px;
  position: relative;
  margin:0 -80px;
  canvas{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}
// 進捗ステータス
.c-status{
  ul{
    margin: -8px;
    >li{
      padding: 8px;
      &.red{
        .head{
          &:before{
            background-color: #F96384;
          }
        }
      }
      &.orange{
        .head{
          &:before{
            background-color: #FB9F40;
          }
        }
      }
      &.yellow{
        .head{
          &:before{
            background-color: #FDCD55;
          }
        }
      }
      &.green{
        .head{
          &:before{
            background-color: #4BC0C0;
          }
        }
      }
      &.blue{
        .head{
          &:before{
            background-color: #36A2EB;
          }
        }
      }
      .head{
        position:relative;
        padding-left:0;
        &:before{
          content: '';
          display: block;
          height:14px; width:14px;
          border-radius: 4px;
          position:absolute;
          top:4px;left:0;
        }
        p{
          color: #A9ABBC;
          font-size: 14px;
          padding-left: 16px;
        }
      }
      .data{
        p{
          text-align: right;
          color: #777;
          line-height: 1;
          letter-spacing: 0;
        }
      }
    }
  }
}
